/*!
 * Core
 */

/**
 * Set default font size to 8px.
 */

html {
  font-size: 50%;
}

/* SVGA 800x600 */
@media (min-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* XGA 1024x768 */
@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}

/* WXGA 1280x800 */
@media (min-width: 1248px) {
  html {
    font-size: 68.75%;
  }
}

/* HD 1366x768 */
@media (min-width: 1334px) {
  html {
    font-size: 75%;
  }
}

/* WXGA+ 1440x900 */
@media (min-width: 1408px) {
  html {
    font-size: 81.25%;
  }
}

/* HD+ 1600x900 */
@media (min-width: 1568px) {
  html {
    font-size: 87.5%;
  }
}

/* FHD 1920x1080 */
@media (min-width: 1888px) {
  html {
    font-size: 93.75%;
  }
}

/* QWXGA 2048x1152 */
@media (min-width: 2016px) {
  html {
    font-size: 100%;
  }
}

@media print {
  html {
    font-size: 8pt;
  }
}

/**
 * 1. The font-size should be set `150%` for the layout design.
 * 2. Emphasize geometric precision over rendering speed and legibility.
 */

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Droid Sans Fallback", "Source Han Sans CN", "Microsoft YaHei", sans-serif;
  font-size: 140%; /* 1 */
  line-height: 1.6;
  text-rendering: geometricPrecision; /* 2 */
}

/**
 * 1. Justify content text on both sides.
 * 2. 3.5 * 1.6 + 8 + 1.5 * 1.6 + 2 = 18
 */

main {
  margin: 4rem 0; /* 1 */
  min-height: calc(100vh - 18rem); /* 2 */
}

article,
aside {
  margin-bottom: 1rem;
}

header {
  font-size: 1.6rem;
}

address {
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  margin: 0.8em 0;
}

/* Links
   ========================================================================== */

/**
 * 1. Prevent the 300ms click delay on mobile devices.
 */

a {
  color: #428bca;
  text-decoration: none;
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 1 */
}

a:hover {
  color: #3071a9;
}

/**
 * Set cursor for placeholder hyperlink without the `href` attribute.
 */

a:not([href]) {
  cursor: pointer;
}

/* Embedded content
   ========================================================================== */

audio,
video {
  width: 100%;
}

/**
 * Remove max-width on audio player in Chrome.
 */
audio::-webkit-media-controls-enclosure {
  max-width: inherit;
}

/**
 * Remove max-width on video player in Chrome.
 */
video::-webkit-media-controls-enclosure {
  max-width: inherit;
}

/**
 * Remove default margin.
 */

figure {
  margin: 0;
}

/**
 * 1. Fix the bug of displaying SVG in UC browser.
 */

i {
  display: inline-block;
  font-style: normal;
  height: 1.4em;
  max-width: 1.4em;
  min-width: 1em; /* 1 */
  vertical-align: text-bottom;
}

i > svg {
  fill: currentColor;
  height: 100%;
  overflow: visible;
  shape-rendering: geometricPrecision;
  stroke: none;
  width: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: text-bottom;
}

meter,
progress {
  background: #f5f5f5;
  border: none;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #428bca;
  display: block;
  height: 1.4em;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/**
 * 1. Remove the border of `meter` element in Edge.
 */

meter::-webkit-meter-bar {
  background: #f5f5f5;
  border: 0; /* 1 */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

meter::-webkit-meter-even-less-good-value {
  background: #d9534f;
}

meter::-webkit-meter-suboptimum-value {
  background: #f0ad4e;
}

meter::-webkit-meter-optimum-value {
  background: #5cb85c;
}

meter::-moz-meter-bar,
progress::-moz-progress-bar {
  background: #428bca;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #d9534f;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #f0ad4e;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: #5cb85c;
}

/**
 * 1. Reset the default appearance of progress in Chrome.
 */

progress {
  -webkit-appearance: none; /* 1 */
  appearance: none;
}

progress::-webkit-progress-bar {
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

progress::-webkit-progress-value {
  background: #428bca;
}

progress::-ms-fill {
  border: 0;
}

/**
 * Reset the appearance for the indeterminate state in Firefox.
 */

progress:not([value])::-moz-progress-bar {
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Phrasing content
   ========================================================================== */

blockquote {
  background-color: #f5f5f5;
  border-left: 0.4em solid #ddd;
  margin: 0.8em 0;
  overflow: hidden;
  padding: 0.6em 1.2em;
}

blockquote > footer {
  text-align: right;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

kbd {
  border: 1px solid currentColor;
  border-radius: 0.2rem;
  padding: 0.2em 0.4em;
}

/**
 * 1. Contain overflow in all browsers.
 */

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: block;
  margin: 1em 0;
  overflow: auto; /* 1 */
  padding: 0.6em;
  word-break: break-all;
}

pre > code {
  white-space: pre;
}

@media print {
  pre > code {
    white-space: pre-wrap !important;
  }
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* Lists
   ========================================================================== */

dl,
ol,
ul {
  margin: 0 0 1em;
  text-indent: 0;
}

ol,
ul {
  padding-left: 2em;
}

dl dl,
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.6em;
}

/* Forms
   ========================================================================== */

form {
  display: inline-block;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin: 1.6em 0;
  padding: 0.8em 1.2em;
}

legend {
  color: #999;
  padding: 0 0.4em;
  white-space: nowrap;
}

button,
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: inline-block;
  outline: none;
  padding: 0.4em 0.8em;
}

button {
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

button:focus,
button:hover {
  background-color: #ebebeb;
}

button:focus,
input:focus {
  outline: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
  background-color: #fff;
  height: 1.6em;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0.4em rgba(102, 175, 233, 0.65);
}

input:invalid,
textarea:invalid {
  border-color: #a94442;
}

input:invalid:focus,
textarea:invalid:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0.4em #ce8483;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="checkbox"],
input[type="file"],
input[type="radio"],
input[type="range"] {
  border: none;
  cursor: pointer;
  padding: 0;
}

input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus {
  border-color: none;
  box-shadow: none;
}

input[type="file"] {
  height: calc(2.4em + 2px);
  min-height: 2.4em;
  width: 100%;
}

input[type="file"]::-ms-browse,
input[type="file"]::-ms-value {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.4em 0.8em;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  padding: 0.4em 0.8em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  margin-top: -0.4em;
  width: 1.2em;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
  border-radius: 0.2rem;
  height: 0.4em;
  width: 100%;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"]::-moz-focus-outer {
  border: none;
}

input[type="range"]::-moz-range-thumb {
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
}

input[type="range"]::-moz-range-track {
  background: #ddd;
  border: none;
  border-radius: 0.2rem;
  height: 0.4em;
  width: 100%;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}

input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 0.2rem;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 0.2rem;
}

/*
 * 1. Reset the `margin-top` value of `::-webkit-slider-thumb`.
 */

input[type="range"]::-ms-thumb {
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  margin-top: -0.1em; /* 1 */
  width: 1.2em;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0.4em 0;
  color: transparent;
  cursor: pointer;
  height: 0.4em;
  width: 100%;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}

label[for] {
  cursor: pointer;
  font-weight: bold;
}

/**
 * 1. Reset the default appearance of select in Firefox 35+.
 * 2. Reset the default appearance of select in Chrome, Opera 15+, and Safari.
 * 3. Use a caret as the background:
 *    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 32">
 *      <path d="M6 14h12l-6 8z"/>
 *    </svg>
 */

select {
  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 2 */
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDMyIj48cGF0aCBkPSJNNiAxNGgxMmwtNiA4eiIvPjwvc3ZnPg==") no-repeat scroll 100% / 1.6em; /* 3 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  height: 1.6em;
}

select::-ms-expand {
  display: none;
}

select > option {
  padding: 0.2em 0.8em;
}

select[multiple],
select[size] {
  background: transparent;
  height: auto;
}

select[multiple] > option,
select[size] > option {
  padding: 0.2em 0.4em;
}

/**
 * Disable the glow box-shadow in Firefox
 */

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/**
 * Placeholder style for Firefox 4-18.
 */

:-moz-placeholder {
  color: #999;
}

/**
 * Placeholder style for Firefox 19+.
 */

::-moz-placeholder {
  color: #999;
}

/**
 * Placeholder style for IE 10+.
 */

:-ms-input-placeholder {
  color: #999;
}

/**
 * Placeholder style for Chrome, Opera 15+, Safari.
 */

::-webkit-input-placeholder {
  color: #999;
}

/**
 * Placeholder style in CSS4.
 */

:placeholder-shown {
  color: #999;
}

:disabled,
[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

::-moz-selection {
  background-color: #3071a9;
  color: #fff;
}

::selection {
  background-color: #3071a9;
  color: #fff;
}

/* Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.2em 0 1.6em;
  text-align: left;
}

thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.4em 0.8em;
  vertical-align: middle;
}

tr:last-child > td {
  border-bottom: none;
}

/* ARIA
   ========================================================================== */
[hidden],
[aria-hidden="true"] {
  display: none;
}

/* Animations
   ========================================================================== */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
