/*!
 * Effects
 */

.ui-line-preserve {
  white-space: pre-line;
}

/**
 * Trim white-space characters between inline-block elements.
 * https://drafts.csswg.org/css-text-4/#white-space-trim
 */

.ui-space-trim {
  text-space-trim: trim-inner;
}

.ui-space-trim > a,
.ui-space-trim > button,
.ui-space-trim > label,
.ui-space-trim > li > :only-child {
  border-left-width: 0;
  border-radius: 0;
}

.ui-space-trim > a:first-child,
.ui-space-trim > button:first-child,
.ui-space-trim > label:first-of-type,
.ui-space-trim > li:first-child > :only-child {
  border-bottom-left-radius: var(--border-radius, 0);
  border-left-width: 1px;
  border-top-left-radius: var(--border-radius, 0);
}

.ui-space-trim > a:last-child,
.ui-space-trim > button:last-child,
.ui-space-trim > label:last-of-type,
.ui-space-trim > li:last-child > :only-child {
  border-bottom-right-radius: var(--border-radius, 0);
  border-top-right-radius: var(--border-radius, 0);
}

.ui-border-none {
  border: none;
  border-radius: 0;
}

.ui-border-none:focus {
  box-shadow: none;
}

.ui-border-bottom {
  border-bottom: 1px solid #ccc;
}

.ui-border-rounded,
.ui-frame-rounded {
  border-radius: var(--border-radius, 0.2rem);
}

.ui-seamless-top:not(:empty) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.ui-seamless-bottom:not(:empty) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-frame-bordered {
  border: 1px solid #ccc;
  border-radius: var(--border-radius, 0);
}

.ui-frame-box,
.ui-frame-rounded,
.ui-frame-stadium,
.ui-frame-circular {
  border: 1px solid #ccc;
  padding: 0.4em 0.8em;
}

.ui-frame-stadium {
  border-radius: 1.6rem;
}

.ui-frame-circular {
  border-radius: 50%;
}

.ui-columns-seperated > li + li,
.ui-columns-seperated > div + div,
.ui-columns-seperated > span + span {
  border-left: 1px solid #ccc;
}

.ui-rows-seperated > li + li,
.ui-rows-seperated > div + div,
.ui-rows-seperated > span + span {
  border-top: 1px solid #ccc;
}

.ui-rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ui-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ui-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ui-flip-vertical {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.ui-progress-striped::-moz-progress-bar {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 3em 3em;
}

.ui-progress-striped::-webkit-progress-value {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 3em 3em;
}

.ui-filter-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ui-animation-ripple {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.ui-animation-ripple::after {
  background: radial-gradient(circle, #000 10%, transparent 10.01%) 50% no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(10, 10);
  transition: transform 0.5s, opacity 1s;
  width: 100%;
}

.ui-animation-ripple:active::after {
  opacity: 0.2;
  transform: scale(0, 0);
  transition: 0s;
}
