/*!
 * Events
 */

.ui-resize-both {
  max-width: 100%;
  overflow: auto;
  padding-bottom: 0.8em;
  padding-right: 0.4em;
  resize: both;
}

.ui-resize-horizontal {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 0.4em;
  resize: horizontal;
}

.ui-resize-vertical {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0.8em;
  resize: vertical;
}

.ui-modal-content,
.ui-lightbox-content {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.ui-modal-content > div:not(.ui-absolute-center) {
  margin: 10vh auto;
  max-height: 80vh;
}

.ui-lightbox-content > figure,
.ui-lightbox-content > div {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0 1em #ccc;
  display: block;
  padding: 1.2em 1.6em;
  text-align: center;
}

.ui-toggle-content,
.ui-toggle-target > input,
.ui-toggle-target > input + div,
.ui-carousel-content > input,
.ui-carousel-content > div:not(:last-child),
.ui-accordion-content > input,
.ui-accordion-content > div > div:not(:first-child) {
  display: none;
}

.ui-lightbox-content:target,
.ui-toggle-content:target,
.ui-toggle-target > input:checked + div,
.ui-carousel-content > div:target,
.ui-carousel-content > input:checked + div,
.ui-accordion-content > div:focus > div,
.ui-accordion-content > input:checked + div > div {
  display: block;
}

.ui-accordion-content > div {
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.ui-accordion-content > div:focus {
  outline: none;
  box-shadow: none;
}

.ui-accordion-content > div > div:first-child {
  cursor: pointer;
}

.ui-accordion-content > div > div:first-child label {
  display: inline-block;
  width: 100%;
}

.ui-carousel-content > div:not(:last-child) {
  position: relative;
}

.ui-carousel-content > div:hover > .ui-carousel-nav {
  opacity: 0.65;
}

.ui-carousel-content > div > .ui-nav-left {
  left: 1rem;
}

.ui-carousel-content > div > .ui-nav-right {
  right: 1rem;
}

.ui-carousel-nav {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
