/*!
 * Events
 */

.ui-resize-both {
  max-width: 100%;
  overflow: auto;
  padding-bottom: 0.8em;
  padding-right: 0.4em;
  resize: both;
}

.ui-resize-horizontal {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 0.4em;
  resize: horizontal;
}

.ui-resize-vertical {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0.8em;
  resize: vertical;
}

.ui-modal-content,
.ui-lightbox-content {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.ui-modal-content > div:not(.ui-absolute-center) {
  margin: 10% auto;
  max-height: 80%;
}

.ui-modal-content > div {
  background-color: #fff;
  color: #333;
}

.ui-lightbox-content > div,
.ui-lightbox-content > figure {
  background-color: #fff;
  border-radius: var(--border-radius, 0);
  box-shadow: 0 0 1em #ccc;
  color: #333;
  display: block;
  padding: 1.2em 1.6em;
  text-align: center;
}

.ui-toggle-content,
.ui-toggle-target > input,
.ui-toggle-target > input ~ div,
.ui-carousel-content > input,
.ui-carousel-content > div:not(:last-child),
.ui-accordion-content > input,
.ui-accordion-content > div > div:not(:first-child) {
  display: none;
}

.ui-lightbox-content:target,
.ui-toggle-content:target,
.ui-toggle-target > input:checked ~ div,
.ui-carousel-content > div:target,
.ui-carousel-content > input:checked + div,
.ui-accordion-content > div:focus > div,
.ui-accordion-content > input:checked + div > div {
  display: block;
}

.ui-accordion-content > div {
  margin-bottom: 0.5rem;
}

.ui-accordion-content > div:focus {
  outline: none;
}

.ui-accordion-content > div > div:first-child {
  cursor: pointer;
}

.ui-accordion-content > div > div:first-child label {
  display: inline-block;
  width: 100%;
}

.ui-carousel-content > div {
  position: relative;
}

.ui-carousel-content > div:hover > .ui-carousel-nav {
  opacity: 0.65;
}

.ui-carousel-nav {
  opacity: 0;
  padding: 0.4em 0.8em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
