/*!
 * Grid
 */

/**
 * 1. Center the block element.
 * 2. Containers have horizontal paddings.
 */

.ui-container-fluid {
  display: block;
  margin-left: auto; /* 1 */
  margin-right: auto; /* 1 */
  max-width: calc(100% - 2rem);
  padding-left: 1rem; /* 2 */
  padding-right: 1rem; /* 2 */
}

.ui-container-grid {
  display: block;
  height: auto;
}

.ui-container-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ui-container-responsive {
  display: block;
  overflow: auto;
  position: relative;
}

.ui-grid-10,
.ui-grid-15,
.ui-grid-17,
.ui-grid-20,
.ui-grid-25,
.ui-grid-30,
.ui-grid-33,
.ui-grid-40,
.ui-grid-50,
.ui-grid-60,
.ui-grid-67,
.ui-grid-70,
.ui-grid-75,
.ui-grid-80,
.ui-grid-83,
.ui-grid-85,
.ui-grid-90 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: auto;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ui-grid-column {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.ui-grid-collapse {
  padding-left: 0;
  padding-right: 0;
}

.ui-grid-10,
.ui-fluid-10 {
  width: 10%;
}

.ui-grid-15,
.ui-fluid-15 {
  width: 15%;
}

.ui-grid-17,
.ui-fluid-17 {
  width: 16.6667%;
}

.ui-grid-20,
.ui-fluid-20 {
  width: 20%;
}

.ui-grid-25,
.ui-fluid-25 {
  width: 25%;
}

.ui-grid-30,
.ui-fluid-30 {
  width: 30%;
}

.ui-grid-33,
.ui-fluid-33 {
  width: 33.3333%;
}

.ui-grid-40,
.ui-fluid-40 {
  width: 40%;
}

.ui-grid-50,
.ui-fluid-50 {
  width: 50%;
}

.ui-grid-60,
.ui-fluid-60 {
  width: 60%;
}

.ui-grid-67,
.ui-fluid-67 {
  width: 66.6667%;
}

.ui-grid-70,
.ui-fluid-70 {
  width: 70%;
}

.ui-grid-75,
.ui-fluid-75 {
  width: 75%;
}

.ui-grid-80,
.ui-fluid-80 {
  width: 80%;
}

.ui-grid-83,
.ui-fluid-83 {
  width: 83.3333%;
}

.ui-grid-85,
.ui-fluid-85 {
  width: 85%;
}

.ui-grid-90,
.ui-fluid-90 {
  width: 90%;
}

.ui-box-tiny {
  width: 4em;
}

.ui-box-small {
  width: 8em;
}

.ui-box-medium {
  width: 16em;
}

.ui-box-large {
  width: 24em;
}

.ui-box-huge {
  width: 32em;
}

.ui-offset-10 {
  margin-left: 10%;
}

.ui-offset-15 {
  margin-left: 15%;
}

.ui-offset-17 {
  margin-left: 16.6667%;
}

.ui-offset-20 {
  margin-left: 20%;
}

.ui-offset-25 {
  margin-left: 25%;
}

.ui-offset-30 {
  margin-left: 30%;
}

.ui-offset-33 {
  margin-left: 33.3333%;
}

.ui-offset-40 {
  margin-left: 40%;
}

.ui-offset-huge {
  margin-left: 1.5rem;
}

.ui-offset-large {
  margin-left: 1rem;
}

.ui-offset-medium {
  margin-left: 0.5rem;
}

.ui-offset-small {
  margin-left: 0.4rem;
}

.ui-offset-tiny {
  margin-left: 0.25rem;
}

.ui-skip-huge {
  margin-top: 1.5rem;
}

.ui-skip-large {
  margin-top: 1rem;
}

.ui-skip-medium {
  margin-top: 0.5rem;
}

.ui-skip-small {
  margin-top: 0.4rem;
}

.ui-skip-tiny {
  margin-top: 0.25rem;
}

.ui-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui-block-inline {
  display: inline-block;
}

.ui-block-fluid {
  display: block;
  width: 100%;
}

.ui-float-left {
  float: left !important;
}

.ui-float-right {
  float: right !important;
}

/**
 * Micro clearfix hack.
 */

.ui-container-grid:after,
.ui-float-left:after,
.ui-float-right:after,
.ui-float-clear:after {
  clear: both;
  content: "";
  display: table;
}

.ui-full-width {
  width: 100vw;
}

.ui-full-height {
  height: 100vh;
}

.ui-full-viewport {
  height: 100vh;
  max-width: 100%;
  position: relative;
  width: 100vw;
}

.ui-fixed-width {
  width: 1.6em;
}

.ui-fixed-height {
  height: 1.6em;
}

.ui-fixed-top,
.ui-fixed-right,
.ui-fixed-bottom,
.ui-fixed-left,
.ui-fixed-center {
  overflow: visible;
  position: fixed;
  z-index: 999;
}

.ui-absolute-top,
.ui-absolute-right,
.ui-absolute-bottom,
.ui-absolute-left,
.ui-absolute-center {
  overflow: visible;
  position: absolute;
  z-index: 99;
}

.ui-fixed-top,
.ui-sticky-top,
.ui-absolute-top {
  top: 0;
}

.ui-fixed-right,
.ui-absolute-right {
  right: 0;
}

.ui-fixed-bottom,
.ui-sticky-bottom,
.ui-absolute-bottom {
  bottom: 0;
}

.ui-fixed-left,
.ui-absolute-left {
  left: 0;
}

.ui-fixed-center,
.ui-absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ui-sticky-top,
.ui-sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
}

.ui-vertical-top,
.ui-vertical-bottom,
.ui-vertical-center {
  display: table-cell;
  width: 1%;
}

.ui-vertical-top {
  vertical-align: top;
}

.ui-vertical-bottom {
  vertical-align: bottom;
}

.ui-vertical-center {
  vertical-align: middle;
}

.ui-columns-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  column-gap: 3em;
}

.ui-columns-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
