/*!
 * Icons
 */

.ui-icon-sprite {
  height: 1.42857em;
  width: 1.42857em;
}

.ui-icon-sprite > svg {
  height: 100%;
  width: 100%;
}

.ui-icon-bordered,
.ui-icon-circular {
  border: 1px solid #ccc;
  width: 1.25em;
  padding: 0.2em 0.2em;
}

.ui-icon-bordered {
  border-radius: 0.4rem;
}

.ui-icon-circular {
  border-radius: 50%;
}

.ui-icon-inverse {
  background-color: #999;
  border-color: #999;
}

.ui-icon-inverse:hover {
  background-color: #666;
  border-color: #666;
}

.ui-icon-inverse > svg > path {
  fill: #fff;
}

.ui-icon-stroked > svg > path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
}

.ui-icon-spin > svg {
  -moz-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.ui-icon-pulse > svg {
  -moz-animation: spin 1s infinite steps(8);
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}
