/*!
 * Images
 */

.ui-image-fluid,
.ui-image-gallery {
  display: block;
  width: 100%;
}

.ui-image-gallery img {
  vertical-align: middle;
}

.ui-image-circular {
  border-radius: 50%;
}

.ui-image-rounded {
  border-radius: var(--border-radius, 0.2rem);
}

.ui-image-thumbnail,
.ui-image-thumbnail + .ui-image-reveal {
  border-radius: var(--border-radius, 0);
}

.ui-image-thumbnail {
  border: 1px solid #ddd;
  max-width: calc(100% - 0.4rem - 2px);
  padding: 0.2rem;
}

.ui-image-hexagon {
  -webkit-clip-path: polygon(50% 0%, 93.3013% 25%, 93.3013% 75%, 50% 100%, 6.6987% 75%, 6.6987% 25%);
  clip-path: polygon(50% 0%, 93.3013% 25%, 93.3013% 75%, 50% 100%, 6.6987% 75%, 6.6987% 25%);
}

.ui-image-lightbox {
  display: inline-block;
  position: relative;
}

.ui-image-reveal {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  color: #fff;
  left: 0;
  line-height: 1;
  opacity: 0;
  padding-top: 38%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.ui-image-lightbox:hover > .ui-image-reveal {
  opacity: 1;
}

.ui-image-magnifier {
  display: inline-block;
  position: relative;
}

.ui-image-magnifier > img {
  cursor: crosshair;
  object-fit: contain;
}

.ui-image-magnifier > div {
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
}

.ui-image-magnifier > div:not(:last-child) {
  background-color: #000;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
}

.ui-image-magnifier > div:last-child {
  left: 100%;
  overflow: hidden;
}

.ui-image-magnifier > div:last-child > img {
  max-width: none;
  object-fit: fill;
  will-change: transform;
}

.ui-image-magnifier > img:hover ~ div {
  display: inline-block;
}
