/*!
 * Images
 */

.ui-image-fluid {
  display: block;
  width: 100%;
}

.ui-image-circular {
  border-radius: 50%;
}

.ui-image-rounded,
.ui-image-thumbnail,
.ui-image-thumbnail + .ui-image-reveal {
  border-radius: 0.4rem;
}

.ui-image-thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.4rem;
}

.ui-image-lightbox {
  display: inline-block;
  position: relative;
}

.ui-image-lightbox > .ui-image-reveal {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  color: #fff;
  left: 0;
  line-height: 100%;
  opacity: 0;
  padding-top: 38%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.ui-image-lightbox:hover > .ui-image-reveal {
  opacity: 1;
}
