/*!
 * Import
 */

/**
 * Remove inconsistencies using normalize.css.
 */

@import "base.css";

/**
 * Core CSS for ui-schema.
 */

@import "core.css";

/**
 * Responsive grid layouts.
 */

@import "grid.css";

/**
 * Navigation, pagination, and breadcrumb.
 */

@import "navigation.css";

/**
 * Dropdown menus.
 */

@import "menus.css";

/**
 * Typography.
 */

@import "typography.css";

/**
 * Forms.
 */

@import "forms.css";

/**
 * Tables.
 */

@import "tables.css";

/**
 * Images.
 */

@import "images.css";

/**
 * Icons.
 */

@import "icons.css";

/**
 * Colors.
 */

@import "colors.css";

/**
 * Effects.
 */

@import "effects.css";

/**
 * Shapes.
 */

@import "shapes.css";

/**
 * Events.
 */

@import "events.css";

/**
 * Mobile.
 */

@import "mobile.css";

/**
 * Print.
 */

@import "print.css";

/**
 * Pages.
 */

@import "pages.css";

/**
 * Utilities.
 */

@import "utilities.css";

/**
 * Variables.
 */

@import "variables.css";
