/*!
 * Menus
 */

.ui-menu-dropdown {
  position: relative;
}

.ui-menu-dropdown > .ui-placement-top {
  bottom: 100%;
  margin-bottom: -2.4em;
}

.ui-menu-dropdown > .ui-pull-left {
  margin-top: -2.4em;
  right: 100%;
}

.ui-menu-dropdown > .ui-pull-right {
  right: 0;
}

.ui-menu-dropdown > ul,
.ui-menu-select > ul {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  list-style: none;
  padding-left: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 99;
}

.ui-menu-dropdown > ul,
.ui-menu-select > ul > li:not(:first-child) {
  display: none;
}

.ui-menu-dropdown > ul {
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.15);
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.ui-menu-dropdown > :first-child,
.ui-menu-select > ul > li:first-child {
  cursor: pointer;
}

.ui-menu-dropdown:hover > .ui-placement-left,
.ui-menu-dropdown:hover > .ui-placement-right {
  display: inline-block;
  margin-top: -0.4em;
}

.ui-menu-dropdown:hover > ul,
.ui-menu-select:hover > ul > li {
  display: block;
}

/**
 * 1. The `!important` directive is required to override the style
 *    when using `.ui-space-trim`.
 */
.ui-menu-dropdown > ul > li > a,
.ui-menu-dropdown > ul > li > span {
  border-radius: 0 !important; /* 1 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.2em 0.8em;
  width: 100%;
}

.ui-menu-dropdown > ul > li > a:focus,
.ui-menu-dropdown > ul > li > a:hover,
.ui-menu-select > ul > li:hover {
  background-color: #e8e8e8;
  color: #333;
}

.ui-menu-select {
  height: 2.4em;
  min-height: calc(2.4em + 2px);
}

.ui-menu-select > ul {
  display: inline-block;
  max-height: 20em;
  overflow: auto;
}

.ui-menu-select > ul > li {
  padding: 0.4em 0.8em;
}
