/*!
 * Mobile
 */

.ui-mobile-visible,
.ui-phone-visible {
  display: none !important;
}

@media (max-width: 991px) {
  .ui-mobile-hidden {
    display: none !important;
  }
  .ui-mobile-visible {
    display: block !important;
  }
  .ui-mobile-shrink {
    margin: 0;
  }
  .ui-mobile-auto {
    width: auto;
  }
  .ui-mobile-double > .ui-grid-17,
  .ui-mobile-double > .ui-fluid-17 {
    width: 33.3333%;
  }
  .ui-mobile-double > .ui-grid-25,
  .ui-mobile-double > .ui-fluid-25 {
    width: 50%;
  }
  .ui-mobile-half > .ui-box-tiny {
    width: 2em;
  }
  .ui-mobile-half > .ui-box-small {
    width: 4em;
  }
  .ui-mobile-half > .ui-box-medium {
    width: 8em;
  }
  .ui-mobile-half > .ui-box-large {
    width: 16em;
  }
  .ui-mobile-half > .ui-box-huge {
    width: 24em;
  }
  .ui-mobile-expand {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
  }
  .ui-mobile-expand + .ui-mobile-expand {
    margin-top: 1em;
  }
  .ui-mobile-collapse {
    float: right !important;
    position: relative;
    width: auto;
  }
  .ui-mobile-collapse > :first-child {
    display: block;
  }
  .ui-mobile-collapse > :not(:first-child) {
    display: none;
  }
  .ui-mobile-collapse:hover > :not(:first-child) {
    display: block;
    position: absolute;
    right: 0;
    z-index: 99;
  }
  .ui-mobile-collapse:hover > ul > li {
    display: block;
    width: 100%;
  }
  .ui-mobile-collapse:hover > ul > li:not(:first-child) {
    border-top: 1px solid #ddd;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .ui-phone-hidden {
    display: none !important;
  }
  .ui-phone-visible {
    display: block !important;
  }
  .ui-phone-shrink {
    margin: 0;
  }
  .ui-phone-auto {
    width: auto;
  }
  .ui-phone-double > .ui-grid-17,
  .ui-phone-double > .ui-fluid-17 {
    width: 33.3333%;
  }
  .ui-phone-double > .ui-grid-25,
  .ui-phone-double > .ui-fluid-25 {
    width: 50%;
  }
  .ui-phone-half > .ui-box-tiny {
    width: 2em;
  }
  .ui-phone-half > .ui-box-small {
    width: 4em;
  }
  .ui-phone-half > .ui-box-medium {
    width: 8em;
  }
  .ui-phone-half > .ui-box-large {
    width: 16em;
  }
  .ui-phone-half > .ui-box-huge {
    width: 24em;
  }
  .ui-phone-expand {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
  }
  .ui-phone-expand + .ui-phone-expand {
    margin-top: 1em;
  }
  .ui-phone-collapse {
    float: right !important;
    position: relative;
    width: auto;
  }
  .ui-phone-collapse > :first-child {
    display: block;
  }
  .ui-phone-collapse > :not(:first-child) {
    display: none;
  }
  .ui-phone-collapse:hover > :not(:first-child) {
    display: block;
    position: absolute;
    right: 0;
    z-index: 99;
  }
  .ui-phone-collapse:hover > ul > li {
    display: block;
    width: 100%;
  }
  .ui-phone-collapse:hover > ul > li:not(:first-child) {
    border-top: 1px solid #ddd;
    line-height: 1;
  }
}
