/*!
 * Pages
 */

.ui-a4-paper {
  height: 297mm;
  width: 210mm;
}

.ui-a5-paper {
  height: 210mm;
  width: 148mm;
}

.ui-b5-paper {
  height: 250mm;
  width: 176mm;
}

.ui-letter-paper {
  height: 279.4mm;
  width: 215.9mm;
}

.ui-page-wrapper {
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  padding: 10mm 16.18mm;
}

.ui-slides-wrapper {
  color: #333;
  font-size: 200%;
  min-width: 768px;
}

.ui-slides-wrapper > .ui-page-slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  padding: 5vh 10vw;
}

.ui-slides-wrapper:hover > .ui-page-slide > div {
  display: none;
}

.ui-slides-wrapper > .ui-page-slide:hover > div {
  display: block;
}

.ui-page-slide > div > h2 {
  font-size: 200%;
}

.ui-page-slide > div > h3 {
  font-size: 150%;
  margin-top: 0;
}

.ui-overflow-hidden {
  height: 100vh;
  overflow: hidden;
}

.ui-scroll-mandatory {
  height: 100vh;
  overflow-y: auto;
  -ms-scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-points-y: repeat(100%);
  scroll-snap-points-y: repeat(100%);
}

.ui-scroll-indicator {
  background: linear-gradient(45deg, #428bca 50%, #f5f5f5 50%);
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 100vh + 0.4em);
}

.ui-scroll-indicator::before {
  background-color: #fff;
  bottom: 0;
  content: "";
  position: fixed;
  top: 0.4em;
  width: 100%;
  z-index: -1;
}
