/*!
 * Shapes
 */

.ui-caret-down,
.ui-caret-left,
.ui-caret-right,
.ui-caret-up {
  border: .4em solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
}

.ui-caret-down {
  border-bottom: none;
  border-top-color: #333;
}

.ui-caret-left {
  border-left: none;
  border-right-color: #333;
}

.ui-caret-right {
  border-left-color: #333;
  border-right: none;
}

.ui-caret-up {
  border-bottom-color: #333;
  border-top: none;
}

.ui-seperator-horizontal {
  background-color: #e5e5e5;
  height: 1px;
  margin: .4em 0;
  overflow: hidden;
}

.ui-seperator-vertical {
  border-right: 1px solid #e5e5e5;
  margin: 0 .4em;
  width: 0;
}

.ui-seperator-raquo > li + li::before {
  content: "\00bb\00a0";
}

.ui-seperator-bullet > li + li::before {
  content: "\2022\00a0";
}

.ui-seperator-vbar > li + li::before {
  content: "|\00a0";
}

.ui-shape-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.ui-shape-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.ui-shape-container > img {
  height: 100%;
}

.ui-shape-container > .ui-image-reveal {
  position: absolute;
  width: 100%;
  padding: 50% 0;
  bottom: 100%;
  background-color: rgba(0,0,0,.65);
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -moz-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

.ui-shape-container:hover > .ui-image-reveal {
  top: -25%;
  bottom: -25%;
}

.ui-shape-hexagon {
  padding-bottom: 115.47%;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

.ui-shape-hexagon > .ui-shape-container {
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}
