/*!
 * Shapes
 */

.ui-caret-down,
.ui-caret-left,
.ui-caret-right,
.ui-caret-up {
  border: 0.25rem solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.ui-caret-down {
  border-bottom: none;
  border-top-color: #777;
}

.ui-caret-left {
  border-left: none;
  border-right-color: #777;
}

.ui-caret-right {
  border-left-color: #777;
  border-right: none;
}

.ui-caret-up {
  border-bottom-color: #777;
  border-top: none;
}

.ui-seperator-horizontal {
  background-color: #ddd;
  height: 1px;
  margin: 0.4em 0;
  overflow: hidden;
}

.ui-seperator-vertical {
  border-right: 1px solid #ddd;
  margin: 0 0.4em;
  width: 0;
}

.ui-seperator-raquo > li + li::before {
  content: "\00bb\00a0";
}

.ui-seperator-bullet > li + li::before {
  content: "\2022\00a0";
}

.ui-seperator-vbar > li + li::before {
  content: "|\00a0";
}

.ui-tooltip-wrapper {
  position: relative;
}

.ui-tooltip-content {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  display: none;
  min-width: 168px;
  padding: 0.4em 0.8em;
  position: absolute;
  z-index: 99;
}

.ui-tooltip-content > div {
  border: none;
  margin: -0.4em -0.8em;
}

.ui-tooltip-wrapper:hover > .ui-tooltip-content {
  display: inline-block;
}

.ui-tooltip-top {
  left: 0;
  bottom: 100%;
  margin-bottom: 0.6em;
}

.ui-tooltip-right {
  margin-left: 0.6em;
}

.ui-tooltip-bottom {
  left: 0;
  margin-top: 0.6em;
  top: 100%;
}

.ui-tooltip-left {
  margin-right: 0.6em;
  right: 100%;
}

.ui-tooltip-top::before,
.ui-tooltip-right::before,
.ui-tooltip-bottom::before,
.ui-tooltip-left::before {
  border: 0.5rem solid transparent;
  content: " ";
  position: absolute;
}

.ui-tooltip-top::after,
.ui-tooltip-right::after,
.ui-tooltip-bottom::after,
.ui-tooltip-left::after {
  border: 0.6em solid transparent;
  content: " ";
  position: absolute;
}

.ui-tooltip-top::before {
  border-top-color: #ccc;
  left: 1.2em;
  margin-left: -0.5rem;
  top: 100%;
}

.ui-tooltip-top::after {
  border-top-color: #fff;
  left: 1.2em;
  margin-left: -0.6em;
  top: 100%;
}

.ui-tooltip-right::before {
  border-right-color: #ccc;
  margin-top: -0.5rem;
  right: 100%;
  top: 1.2em;
}

.ui-tooltip-right::after {
  border-right-color: #fff;
  margin-top: -0.6em;
  right: 100%;
  top: 1.2em;
}

.ui-tooltip-bottom::before {
  border-bottom-color: #ccc;
  bottom: 100%;
  left: 1.2em;
  margin-left: -0.5rem;
}

.ui-tooltip-bottom::after {
  border-bottom-color: #fff;
  bottom: 100%;
  left: 1.2em;
  margin-left: -0.6em;
}

.ui-tooltip-left::before {
  border-left-color: #ccc;
  left: 100%;
  margin-top: -0.5rem;
  top: 1.2em;
}

.ui-tooltip-left::after {
  border-left-color: #fff;
  left: 100%;
  margin-top: -0.6em;
  top: 1.2em;
}
