/*!
 * Tables
 */

.ui-table-fluid {
  width: 100%;
}

.ui-table-bordered {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: var(--border-radius, 0);
}

.ui-table-bordered th + th,
.ui-table-bordered td + td {
  border-left: 1px solid #ccc;
}

.ui-table-condensed th,
.ui-table-condensed td {
  padding: 0.2em 0.4em;
}

.ui-table-striped > tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
  color: #333;
}

.ui-table-hover tr:hover,
.ui-table-hover tr:hover {
  background-color: #e8e8e8;
  color: #333;
  cursor: pointer;
}

.ui-table-columns-2 th,
.ui-table-columns-2 td:first-child {
  width: 33.3333%;
}

.ui-table-columns-3 th,
.ui-table-columns-3 td:first-child {
  width: 20%;
}
