/*!
 * Themes
 */

.ui-theme-dark,
.ui-theme-dark .ui-header-navbar input,
.ui-theme-dark .ui-menu-dropdown > ul,
.ui-theme-dark .ui-menu-selection > ul,
.ui-theme-dark .ui-modal-content > div,
.ui-theme-dark .ui-tooltip-content,
.ui-theme-dark .ui-lightbox-content > div,
.ui-theme-dark .ui-lightbox-content > figure {
  background-color: #333;
  color: #fff;
}

.ui-theme-dark .ui-header-navbar,
.ui-theme-dark .ui-nav-collapse > ul,
.ui-theme-dark .ui-nav-breadcrumb,
.ui-theme-dark .ui-table-striped > tbody > tr:nth-child(odd),
.ui-theme-dark .ui-content-link,
.ui-theme-dark .ui-panel-header,
.ui-theme-dark .ui-content-jumbotron,
.ui-theme-dark .ui-state-active {
  background-color: #000;
  color: #fff;
}

.ui-theme-dark .ui-text-active,
.ui-theme-dark .ui-state-active a {
  color: #fff;
}

.ui-theme-dark .ui-tooltip-top::after {
  border-top-color: #333;
}

.ui-theme-dark .ui-tooltip-right::after {
  border-right-color: #333;
}

.ui-theme-dark .ui-tooltip-bottom::after {
  border-bottom-color: #333;
}

.ui-theme-dark .ui-tooltip-left::after {
  border-left-color: #333;
}

.ui-theme-dark .ui-background-inverse::first-line,
.ui-theme-dark .ui-background-inverse > :not(:empty) {
  color: #333;
}
