/*!
 * Typography
 */

.ui-font-normal {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.ui-font-serif {
  font-family: Georgia, "Times New Roman", "Droid Serif", Times, SimSun, serif;
}

.ui-font-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ui-font-cursive {
  font-family: "Lucida Calligraphy", "URW Chancery L", "AR PL UKai", KaiTi, SimKai, cursive;
}

/**
 *  Responsive font size based on the viewport height and width.
 */
.ui-font-responsive {
  font-size: calc(1vw + 1vh);
}

/**
 * Known issue: Chrome's default setting of minimum font-size is 12px.
 */

.ui-font-base {
  font-size: 1rem;
}

.ui-font-tiny {
  font-size: 0.4rem;
}

.ui-font-small {
  font-size: 0.6rem;
}

.ui-font-medium {
  font-size: 0.7rem;
}

.ui-font-large {
  font-size: 0.8rem;
}

.ui-font-huge {
  font-size: 1rem;
}

.ui-zoom-tiny {
  font-size: 50%;
}

.ui-zoom-small {
  font-size: 80%;
}

.ui-zoom-medium {
  font-size: 100%;
}

.ui-zoom-large {
  font-size: 125%;
}

.ui-zoom-huge {
  font-size: 150%;
}

.ui-zoom-2x {
  font-size: 200%;
}

.ui-zoom-3x {
  font-size: 300%;
}

.ui-zoom-4x {
  font-size: 400%;
}

.ui-zoom-5x {
  font-size: 500%;
}

.ui-zoom-10x {
  font-size: 1000%;
}

.ui-text-normal {
  line-height: 1.6;
}

.ui-text-center {
  text-align: center;
}

.ui-text-justify {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

.ui-text-indent {
  text-indent: 2em;
}

.ui-text-left {
  text-align: left;
}

.ui-text-right {
  text-align: right;
}

/**
 * Left and right on the same line.
 */

.ui-text-left-right {
  text-align: right;
}

.ui-text-left-right > :first-child {
  float: left;
}

.ui-text-top {
  vertical-align: top;
}

.ui-text-middle {
  vertical-align: middle;
}

.ui-text-bottom {
  vertical-align: bottom;
}

.ui-text-capitalize {
  text-transform: capitalize;
}

.ui-text-lowercase {
  text-transform: lowercase;
}

.ui-text-uppercase {
  text-transform: uppercase;
}

.ui-text-break {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.ui-text-nowrap {
  white-space: nowrap;
}

.ui-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * `display:none` has bad implications for screen readers.
 */

.ui-text-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Set invisible elements which still take up space.
 */

.ui-text-invisible {
  visibility: hidden;
}

.ui-text-padding {
  display: inline-block;
  padding: 0.4em 0.8em;
}

.ui-text-disabled {
  color: #999;
  cursor: default;
  pointer-events: none;
}

.ui-text-button,
.ui-content-link {
  border: 1px solid #ccc;
  border-radius: var(--border-radius, 0);
  cursor: pointer;
  padding: 0.4em 0.8em;
}

.ui-text-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.ui-text-button:hover,
.ui-text-button:focus,
.ui-content-link:hover,
.ui-content-link:focus {
  background-color: #e8e8e8;
}

.ui-text-label,
.ui-text-badge {
  background-color: #999;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 0.2em 0.4em;
}

.ui-text-label {
  border-radius: var(--border-radius, 0);
}

.ui-text-badge {
  border-radius: 0.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.ui-text-badge:empty {
  display: none;
}

.ui-text-list {
  display: inline-block;
}

.ui-text-list > a + a,
.ui-text-list > span + span {
  display: inline-block;
  margin-left: 0.8em;
}

.ui-header-primary {
  border-bottom: 0.1em double #ccc;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: 0.2em;
}

.ui-header-secondary {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding-bottom: 0.1em;
}

.ui-header-compact {
  margin: 0.2em auto;
}

.ui-list-group,
.ui-list-inline,
.ui-list-unstyled {
  list-style: none;
  padding-left: 0;
}

.ui-list-group {
  border: 1px solid #ccc;
  border-radius: var(--border-radius, 0);
  display: inline-block;
}

.ui-list-group > a,
.ui-list-group > li > a {
  display: block;
}

.ui-list-group > a,
.ui-list-group > li {
  padding: 0.4em 0.8em;
}

.ui-list-group > a + a,
.ui-list-group > li + li {
  border-top: 1px solid #ccc;
}

.ui-list-group > a:first-child,
.ui-list-group > li:first-child {
  border-top-left-radius: var(--border-radius, 0);
  border-top-right-radius: var(--border-radius, 0);
}

.ui-list-group > a:last-child,
.ui-list-group > li:last-child {
  border-bottom-left-radius: var(--border-radius, 0);
  border-bottom-right-radius: var(--border-radius, 0);
}

.ui-list-group h4 {
  margin: 0;
}

.ui-list-group p {
  margin-top: 0;
}

.ui-list-inline > li {
  display: inline-block;
}

.ui-list-inline > li:not(:last-child) {
  margin-right: 0.8em;
}

.ui-list-inline > li + li::before {
  margin-right: 0.6em;
}

.ui-list-unstyled > li + li {
  margin-top: 0.2em;
}

.ui-list-indent > dd {
  margin-left: 2em;
  margin-top: 0.2em;
}

.ui-list-horizontal > dt {
  clear: left;
  float: left;
  text-align: right;
  white-space: nowrap;
  width: 10em;
}

.ui-list-horizontal > dd {
  margin-left: 12em;
}

.ui-list-numbered {
  counter-reset: list;
}

.ui-list-numbered > dt::before {
  content: counter(list) ". ";
  counter-increment: list;
}

.ui-list-bibliography {
  counter-reset: citation;
  list-style: none;
  padding-left: 1.6em;
}

.ui-list-bibliography > li::before {
  content: "[" counter(citation) "]\2002";
  counter-increment: citation;
  margin-left: -1.6em;
}

.ui-list-timeline {
  list-style: none;
  padding-left: 0.8em;
}

.ui-list-timeline > li {
  border-left: 0.2em solid transparent;
  padding-left: 1em;
  position: relative;
}

.ui-list-timeline > li:not(:last-child) {
  border-left-color: #ddd;
  padding-bottom: 1em;
}

.ui-list-timeline > li > div:first-child > :only-child {
  display: block;
  position: relative;
  top: -0.3em;
  white-space: nowrap;
}

.ui-list-timeline > li > div:first-child::before {
  background-color: #fff;
  border: 0.2em solid currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 0.6em;
  left: -0.4rem;
  position: absolute;
  width: 0.6em;
}

.ui-content-link {
  background-color: #fff;
  color: #333;
}

.ui-content-link > a,
.ui-content-link > a > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.ui-content-link > a {
  width: 1%;
}

.ui-content-link > a > div:not(:first-child) {
  padding-left: 0.8em;
}

.ui-content-highlight {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: var(--border-radius, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  color: #333;
  display: block;
  padding: 0.4em 0.8em;
}

.ui-content-highlight blockquote {
  border-color: rgba(0, 0, 0, 0.15);
}

.ui-content-jumbotron {
  background-color: #f5f5f5;
  border-radius: calc(var(--border-radius, 0) * 2);
  color: #333;
  display: block;
  padding: 1.6em 3.2em;
}

.ui-content-jumbotron p {
  font-size: 150%;
  margin-bottom: 1em;
}

.ui-content-alert,
.ui-content-panel {
  border: 1px solid #ccc;
  border-radius: var(--border-radius, 0);
  margin-bottom: 1rem;
}

.ui-content-alert {
  padding: 1.2em;
}

.ui-content-alert > p:first-child {
  margin-top: 0;
}

.ui-content-alert > p:last-child {
  margin-bottom: 0;
}

.ui-content-alert a {
  font-weight: bold;
}

.ui-content-alert a:hover {
  text-decoration: underline;
}

.ui-content-panel {
  overflow: hidden;
}

.ui-panel-header > h4,
.ui-panel-body > .ui-table-fluid,
.ui-panel-footer > p {
  margin: 0;
}

.ui-panel-header {
  background-color: #f5f5f5;
  border-bottom: inherit;
  border-radius: var(--border-radius, 0) var(--border-radius, 0) 0 0;
  color: #333;
  padding: 0.4em 0.8em;
}

.ui-panel-footer {
  border-top: inherit;
  padding: 0.4em 0.8em;
}

.ui-panel-body > p {
  margin: 0.4em 0.8em;
}

.ui-panel-body > div {
  margin: 1em 0.8em;
}

.ui-panel-body > .ui-list-group {
  border: 0;
  display: block;
  margin-bottom: 0;
  width: 100%;
}

.ui-content-media {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ui-media-object {
  float: left;
  margin-left: 0.5rem;
}

.ui-media-object:not(.ui-float-right) {
  margin-left: 0;
  margin-right: 0.5rem;
}

.ui-media-body {
  display: table-cell;
  vertical-align: top;
}

.ui-media-body h4 {
  margin-bottom: 0.6em;
  margin-top: 0;
}

.ui-article-body {
  margin: 1em 0 2em;
}

.ui-article-body h1,
.ui-article-body h2,
.ui-article-body h3,
.ui-article-body h4,
.ui-article-heading {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.ui-article-body figure,
.ui-article-body img,
.ui-article-body svg,
.ui-article-image {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.ui-article-contents ol {
  counter-reset: section;
  list-style-type: none;
}

.ui-article-contents > ol {
  padding-left: 0;
}

.ui-article-contents li::before {
  content: counters(section, ".") " ";
  counter-increment: section;
}
