
extends ../layout

block variables
  - var pageID = 'examples/full-pages'
  - var pageTitle = 'Full Pages'
  - var minimal = true

block body
  body.ui-overflow-hidden(data-schema-autoplay='5000')
    #success.ui-full-page.ui-background-success
      .ui-absolute-center.ui-fluid-80.ui-zoom-2x
        p The time of tasks for me is over. If age has brought me anything, it is lightness.
        footer.ui-text-right
          | &mdash; Alexander Grothendieck, 
          cite Esquisse d'un Programme (1984)
          | .
      .ui-absolute-bottom.ui-block-fluid.ui-text-center
        a(href='#info'): i.ui-zoom-huge(data-schema-icon='angle-double-down')
    #info.ui-full-page.ui-background-info
      .ui-absolute-center.ui-fluid-80.ui-zoom-2x
        p Mathematics, more than any other art or science, is a young man's game.
        footer.ui-text-right
          | &mdash; Godfrey Harold Hardy, 
          cite A Mathematician's Apology (1941)
          | .
      .ui-absolute-bottom.ui-block-fluid.ui-text-center
        a(href='#warning'): i.ui-zoom-huge(data-schema-icon='angle-double-down')
    #warning.ui-full-page.ui-background-warning
      .ui-absolute-center.ui-fluid-80.ui-zoom-2x
        p In so far as a scientific statement speaks about reality, it must be falsifiable.
        footer.ui-text-right
          | &mdash; Karl Popper, 
          cite The Logic of Scientific Discovery (1934)
          | .
      .ui-absolute-bottom.ui-block-fluid.ui-text-center
        a(href='#danger'): i.ui-zoom-huge(data-schema-icon='angle-double-down')
    #danger.ui-full-page.ui-background-danger
      .ui-absolute-center.ui-fluid-80.ui-zoom-2x
        p Man is but a reed, the most feeble thing in nature; but he is a thinking reed.
        footer.ui-text-right
          | &mdash; Blaise Pascal, 
          cite Pensées, ed. Ch.M des Granges (1964)
          | .
      .ui-absolute-bottom.ui-block-fluid.ui-text-center
        a(href='#success'): i.ui-zoom-huge(data-schema-icon='loop')
    ol.ui-nav-pagination.ui-nav-vertical.ui-fixed-right
      li: a.ui-state-active(href='#success')
      li: a(href='#info')
      li: a(href='#warning')
      li: a(href='#danger')
    script(src=appDist + '/jquery-3.2.1.min.js')
    script(src=appDist + '/ui-schema-' + version + '.min.js')
    script(src=appIcons + '/arrows.js')
    script(src=appIcons + '/video.js')
  
