
extends modules

block variables
  - var pageID = 'css/forms'
  - var pageTitle = 'Forms'

block article
  h3.ui-header-primary Forms
  section
    h4.ui-header-secondary Buttons
    div
      button(type='button') Default
      button.ui-button-primary(type='button') Primary
      button.ui-button-success(type='button') Success
      button.ui-button-info(type='button') Info
      button.ui-button-warning(type='button') Warning
      button.ui-button-danger(type='button') Danger
      button(type='button' disabled) Disabled
      | 
      a.ui-text-button.ui-button-primary(href='http://arxitics.com/') Link
    .ui-skip-medium
      button.ui-zoom-huge(type='button') Huge
      button.ui-zoom-large(type='button') Large
      button.ui-zoom-medium(type='button') Medium
      button.ui-zoom-small(type='button') Small
      button.ui-zoom-tiny(type='button') Tiny
    pre: code.language-markup.
      &lt;button type="button"&gt;Default&lt;/button&gt;
      &lt;button class="ui-button-primary" type="button"&gt;Primary&lt;/button&gt;
      &lt;button class="ui-button-success" type="button"&gt;Success&lt;/button&gt;
      &lt;button class="ui-button-info" type="button"&gt;Info&lt;/button&gt;
      &lt;button class="ui-button-warning" type="button"&gt;Warning&lt;/button&gt;
      &lt;button class="ui-button-danger" type="button"&gt;Danger&lt;/button&gt;
      &lt;button type="button" disabled&gt;Disabled&lt;/button&gt;
      &lt;a class="ui-text-button ui-button-primary" href="http://arxitics.com/"&gt;Link&lt;/a&gt;
      &lt;button class="ui-zoom-huge" type="button"&gt;Huge&lt;/button&gt;
      &lt;button class="ui-zoom-large" type="button"&gt;Large&lt;/button&gt;
      &lt;button class="ui-zoom-medium" type="button"&gt;Medium&lt;/button&gt;
      &lt;button class="ui-zoom-small" type="button"&gt;Small&lt;/button&gt;
      &lt;button class="ui-zoom-tiny" type="button"&gt;Tiny&lt;/button&gt;
  section
    h4.ui-header-secondary Inline Form
    .ui-container-grid
      form.ui-grid-50.ui-phone-expand(action='http://arxitics.com/search' method='get' role='form')
        input(type='search' name='q' placeholder='Search or type a command' title='Type "help" to redirect to the help center')
        button(type='submit') Go!
      form.ui-grid-50.ui-phone-expand(action='http://arxitics.com/search' method='get' role='form')
        .ui-input-addon
          input(type='search' name='q' placeholder='Search or type a command' title='Type "help" to redirect to the help center')
          button(type='submit'): i(data-schema-icon='search') Go!
    pre: code.language-markup.
      &lt;form action="http://arxitics.com/search" method="get" role="form"&gt;
        &lt;input type="search" name="q" placeholder="Search or type a command"&gt;
        &lt;button type="submit"&gt;Go!&lt;/button&gt;
      &lt;/form&gt;
  section
    h4.ui-header-secondary Fluid Form
    .ui-container-grid
      form.ui-grid-50.ui-phone-expand.ui-form-fluid(action='http://arxitics.com/browse' method='get' role='form')
        label(for='categories') Categories
        input(id='categories' type='text' name='categories' placeholder='math-ph, math.MP, cs.CC' title='Multiple categories are separated by commas' required)
        label(for='keywords') Keywords
        input(id='keywords' type='text' name='keywords' placeholder='perturbative gauge theory' title='Multiple keywords are separated by commas')
        label
          input(type='checkbox' name='extend' value='true')
          |  Use the extend mode to see more
        .ui-skip-large
          button.ui-button-primary(type='submit') Submit
          button.ui-offset-medium(type='reset') Reset
      form.ui-grid-50.ui-phone-expand.ui-form-fluid(action='http://arxitics.com/search' method='get' role='form')
        label(for='subjects') Subjects
        input(id='subjects' type='text' name='subjects' placeholder='11.15.Ha, 81T25, J.2, C87' title='Subjects refer to codes for the PACS, the MSC-class, the ACM-class, or the JEL-class')
        label(for='journal') Journal
        select(id='journal' name='journal')
          option(value='Phys. Rev. A') Physical Review A
          option(value='Phys. Rev. B') Physical Review B
          option(value='Phys. Rev. C') Physical Review C
          option(value='Phys. Rev. D') Physical Review D
          option(value='Phys. Rev. E') Physical Review E
          option(value='Phys. Rev. X') Physical Review X
        div
          input.ui-offset-small(type='radio' name='date-range' value='past-week' checked)
          |  Past week
          input.ui-offset-small(type='radio' name='date-range' value='past-month')
          |  Past month
          input.ui-offset-small(type='radio' name='date-range' value='past-year')
          |  Past year
        .ui-skip-large
          button.ui-button-primary(type='submit') Submit
          button.ui-offset-medium(type='reset') Reset
    pre: code.language-markup.
      &lt;form class="ui-form-fluid" action="http://arxitics.com/browse" method="get" role="form"&gt;
        &lt;label for="categories"&gt;Categories&lt;/label&gt;
        &lt;input id="categories" type="text" name="categories" placeholder="math-ph, math.MP, cs.CC" required&gt;
        &lt;label for="keywords"&gt;Keywords&lt;/label&gt;
        &lt;input id="keywords" type="text" name="keywords" placeholder="perturbative gauge theory"&gt;
        &lt;label&gt;
          &lt;input type="checkbox" name="extend" value="true"&gt; Use the extend mode to see more
        &lt;/label&gt;
        &lt;div class="ui-skip-large"&gt;
          &lt;button type="submit" class="ui-button-primary"&gt;Submit&lt;/button&gt;
          &lt;button type="reset" class="ui-offset-medium"&gt;Reset&lt;/button&gt;
        &lt;/div&gt;
      &lt;/form&gt;
  section
    h4.ui-header-secondary Horizontal Form
    .ui-container-grid
      form.ui-form-horizontal(action='http://arxitics.com/search' method='get' role='form')
        .ui-container-grid
          label.ui-grid-20(for='title') Title
          .ui-grid-80
            input(id='title' type='text' name='title' placeholder='Bayesian probabilistic matrix factorization' title='Pattern matching for the &quot;title&quot; field is case-insensitive')
          label.ui-grid-20(for='comments') Comments
          .ui-grid-80
            input(id='comments' type='text' name='comments' placeholder='Les Houches summer school' title='Pattern matching for the &quot;comments&quot; field is case-insensitive')
          label.ui-grid-20(for='sort') Sort by
          .ui-grid-80
            input(id='sort' type='radio' name='sort' value='published' checked)
            |  Published date
            input.ui-offset-small(type='radio' name='sort' value='updated')
            |  Updated date
            input.ui-offset-small(type='radio' name='sort' value='views')
            |  Article views
            input.ui-offset-small(type='radio' name='sort' value='rating')
            |  Rating score
        .ui-text-center.ui-skip-large
          button.ui-button-primary(type='submit') Submit
          button.ui-offset-medium(type='reset') Reset
    pre: code.language-markup.
      &lt;form class="ui-form-horizontal" action="http://arxitics.com/search" method="get" role="form"&gt;
        &lt;div class="ui-container-grid"&gt;
          &lt;label for="title" class="ui-grid-20"&gt;Title&lt;/label&gt;
          &lt;div class="ui-grid-80"&gt;
            &lt;input id="title" type="text" name="title" placeholder="Bayesian probabilistic matrix factorization"&gt;
          &lt;/div&gt;
          &lt;label for="comments" class="ui-grid-20"&gt;Comments&lt;/label&gt;
          &lt;div class="ui-grid-80"&gt;
            &lt;input id="comments" type="text" name="comments" placeholder="Les Houches summer school"&gt;
          &lt;/div&gt;
          &lt;label for="sort" class="ui-grid-20"&gt;Sort by&lt;/label&gt;
          &lt;div class="ui-grid-80"&gt;
            &lt;input id="sort" type="radio" name="sort" value="published" checked&gt; Published date
            &lt;input class="ui-offset-small" type="radio" name="sort" value="updated"&gt; Updated date
            &lt;input class="ui-offset-small" type="radio" name="sort" value="views"&gt; Article views
            &lt;input class="ui-offset-small" type="radio" name="sort" value="rating"&gt; Rating score
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ui-text-center ui-skip-large"&gt;
          &lt;button class="ui-button-primary" type="submit"&gt;Submit&lt;/button&gt;
          &lt;button class="ui-offset-medium" type="reset"&gt;Reset&lt;/button&gt;
        &lt;/div&gt;
      &lt;/form&gt;
  section
    h4.ui-header-secondary Button Groups
    .ui-container-grid
      .ui-button-toolbar
        .ui-button-group.ui-space-collapse
          button(title='View chat history') View
          button(title='Clear current chat room') Clear
          button(title='Export chat data as JSON') Export
          button(title='Delete all chat data') Delete
        .ui-button-group.ui-space-collapse
          button(title='Refresh this page') Refresh
          button(title='Close the connection') Close
      .ui-button-toolbar.ui-skip-medium
        .ui-button-group.ui-space-collapse
          input(id='published-date' type='radio' name='sort' value='published' checked)
          label(for='published-date') Published Date
          input(id='updated-date' type='radio' name='sort' value='updated')
          label(for='updated-date') Updated Date
          input(id='reader-counts' type='radio' name='sort' value='readers')
          label(for='reader-counts') Reader Counts
          input(id='rating-score' type='radio' name='sort' value='rating')
          label(for='rating-score') Rating Score
        .ui-button-switch
          input(id='sort-order' type='checkbox' name='order' value='ascending')
          label(for='sort-order')
            span: i(data-schema-icon='sort-amount-asc' title='Ascending') Asc
            span: i(data-schema-icon='sort-amount-desc' title='Descending') Desc
      .ui-button-group.ui-space-collapse.ui-skip-medium
        input(id='physics' type='checkbox' name='groups' value='physics' checked)
        label(for='physics') Physics
        input(id='math' type='checkbox' name='groups' value='math')
        label(for='math') Mathematics
        input(id='cs' type='checkbox' name='groups' value='cs')
        label(for='cs') Computer Science
        input(id='q-bio' type='checkbox' name='groups' value='q-bio')
        label(for='q-bio') Quantitative Biology
        input(id='q-fin' type='checkbox' name='groups' value='q-fin')
        label(for='q-fin') Quantitative Finance
        input(id='stats' type='checkbox' name='groups' value='stats')
        label(for='stats') Statistics
    pre: code.language-markup.
      &lt;div class="ui-button-toolbar"&gt;
        &lt;div class="ui-button-group ui-space-collapse"&gt;
          &lt;button title="View chat history"&gt;View&lt;/button&gt;
          &lt;button title="Clear current chat room"&gt;Clear&lt;/button&gt;
          &lt;button title="Export chat data as JSON"&gt;Export&lt;/button&gt;
          &lt;button title="Delete all chat data"&gt;Delete&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="ui-button-group ui-space-collapse"&gt;
          &lt;button title="Refresh this page"&gt;Refresh&lt;/button&gt;
          &lt;button title="Close the connection"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="ui-button-toolbar ui-skip-medium"&gt;
        &lt;div class="ui-button-group ui-space-collapse"&gt;
          &lt;input id="published-date" type="radio" name="sort" value="published" checked&gt;
          &lt;label for="published-date"&gt;Published Date&lt;/label&gt;
          &lt;input id="updated-date" type="radio" name="sort" value="updated"&gt;
          &lt;label for="updated-date"&gt;Updated Date&lt;/label&gt;
          &lt;input id="reader-counts" type="radio" name="sort" value="readers"&gt;
          &lt;label for="reader-counts"&gt;Reader Counts&lt;/label&gt;
          &lt;input id="rating-score" type="radio" name="sort" value="rating"&gt;
          &lt;label for="rating-score"&gt;Rating Score&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="ui-button-switch"&gt;
          &lt;input id="sort-order" type="checkbox" name="order" value="ascending"&gt;
          &lt;label for="sort-order"&gt;
            &lt;span&gt;&lt;i data-schema-icon="sort-amount-asc" title="Ascending"&gt;Asc&lt;/i&gt;&lt;/span&gt;
            &lt;span&gt;&lt;i data-schema-icon="sort-amount-desc" title="Descending"&gt;Desc&lt;/i&gt;&lt;/span&gt;
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="ui-button-group ui-space-collapse ui-skip-medium"&gt;
        &lt;input id="physics" type="checkbox" name="groups" value="physics" checked&gt;
        &lt;label for="physics"&gt;Physics&lt;/label&gt;
        &lt;input id="math" type="checkbox" name="groups" value="math"&gt;
        &lt;label for="math"&gt;Mathematics&lt;/label&gt;
        &lt;input id="cs" type="checkbox" name="groups" value="cs"&gt;
        &lt;label for="cs"&gt;Computer Science&lt;/label&gt;
        &lt;input id="q-bio" type="checkbox" name="groups" value="q-bio"&gt;
        &lt;label for="q-bio"&gt;Quantitative Biology&lt;/label&gt;
        &lt;input id="q-fin" type="checkbox" name="groups" value="q-fin"&gt;
        &lt;label for="q-fin"&gt;Quantitative Finance&lt;/label&gt;
        &lt;input id="stats" type="checkbox" name="groups" value="stats"&gt;
        &lt;label for="stats"&gt;Statistics&lt;/label&gt;
      &lt;/div&gt;
  section
    h4.ui-header-secondary Input Addons
    .ui-container-grid
      .ui-grid-50.ui-phone-expand
        .ui-input-addon
          label(for='email' title='Email')
            i(data-schema-icon='envelope-o') Email
          input(id='email' type='email' name='email' title='Please input your email')
      .ui-grid-50.ui-phone-expand
        .ui-input-addon
          input(type='search' name='q' placeholder='Search or type a command' title='Type "help" to redirect to the help center')
          button.ui-button-primary Go!
    pre: code.language-markup.
      &lt;div class="ui-input-addon"&gt;
        &lt;label for="email" title="Email"&gt;&lt;i data-schema-icon="envelope-o"&gt;Email&lt;/i&gt;&lt;/label&gt;
        &lt;input id="email" type="email" name="email"&gt;
      &lt;/div&gt;
      &lt;div class="ui-input-addon"&gt;
        &lt;input type="search" name="q" placeholder="Search or type a command"&gt;
        &lt;button class="ui-button-primary"&gt;Go!&lt;/button&gt;
      &lt;/div&gt;


block append foot
  script(src='#{appIcons}/account.js')
  script(src='#{appIcons}/editor.js')
  script(src='#{appIcons}/forms.js')
