extends ../layout

block variables
  - var pageID = 'css/images'
  - var pageTitle = 'Images'

block aside
  include modules

block article
  h3.ui-header-primary Images
  div
    img.ui-image-rounded(height='100' src='https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg' alt='Cartoon Hillside with Butterfly and Flowers')
    img.ui-image-circular.ui-offset-large(height='100' src='https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg' alt='Cartoon Hillside with Butterfly and Flowers')
    img.ui-image-thumbnail.ui-offset-large(height='100' src='https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg' alt='Cartoon Hillside with Butterfly and Flowers')
    a.ui-image-lightbox.ui-offset-large(rel='external' target='_blank' href='https://openclipart.org/detail/22265/cartoon-hillside-with-butterfly-and-flowers-by-studiofibonacci')
      img.ui-image-thumbnail(height='100' src='https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg' alt='Cartoon Hillside with Butterfly and Flowers')
      span.ui-image-reveal Butterfly
  pre: code.language-markup.
    &lt;img class="ui-image-rounded" height="100" src="https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg" alt="Cartoon Hillside with Butterfly and Flowers"&gt;
    &lt;img class="ui-image-circular" height="100" src="https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg" alt="Cartoon Hillside with Butterfly and Flowers"&gt;
    &lt;img class="ui-image-thumbnail" height="100" src="https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg" alt="Cartoon Hillside with Butterfly and Flowers"&gt;
    &lt;a class="ui-image-lightbox" rel="external" target="_blank" href="https://openclipart.org/detail/22265/cartoon-hillside-with-butterfly-and-flowers-by-studiofibonacci"&gt;
      &lt;img class="ui-image-thumbnail" height="100" src="https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg" alt="Cartoon Hillside with Butterfly and Flowers"&gt;
      &lt;span class="ui-image-reveal"&gt;Butterfly&lt;/span&gt;
    &lt;/a&gt;
