
extends modules

block variables
  - var pageID = 'css/images'
  - var pageTitle = 'Images'

block article
  h3.ui-header-primary Images
  div
    img.ui-image-circular(height='100' src='http://oss.arxitics.com/images/favicon.svg' alt='Arxitics')
    img.ui-image-rounded.ui-offset-large(height='100' src='http://oss.arxitics.com/images/favicon.svg' alt='Arxitics')
    img.ui-image-thumbnail.ui-offset-large(height='100' src='http://oss.arxitics.com/images/favicon.svg' alt='Arxitics')
    a.ui-image-lightbox.ui-offset-large(rel='external' target='_blank' href='http://arxitics.com/')
      img.ui-image-thumbnail(height='100' src='http://oss.arxitics.com/images/favicon.svg' alt='Arxitics')
      span.ui-image-reveal Arxitics
  pre: code.language-markup.
    &lt;img class="ui-image-circular" height="100" src="http://oss.arxitics.com/images/favicon.svg" alt="Arxitics"&gt;
    &lt;img class="ui-image-rounded" height="100" src="http://oss.arxitics.com/images/favicon.svg" alt="Arxitics"&gt;
    &lt;img class="ui-image-thumbnail" height="100" src="http://oss.arxitics.com/images/favicon.svg" alt="Arxitics"&gt;
    &lt;a class="ui-image-lightbox" rel="external" target="_blank" href="http://arxitics.com/"&gt;
      &lt;img class="ui-image-thumbnail" height="100" src="http://oss.arxitics.com/images/favicon.svg" alt="Arxitics"&gt;
      &lt;span class="ui-image-reveal"&gt;Arxitics&lt;/span&gt;
    &lt;/a&gt;
