
extends ../layout

mixin link(page, text)
  li(class={'ui-state-active': pageID === ('css/' + page)})
    a(href='#{appDocs}/css/#{page}.html')= text

block aside
  h3.ui-header-primary Modules
  ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
    +link('base', 'Base')
    +link('core', 'Core')
    +link('grid', 'Grid')
    +link('navigation', 'Navigation')
    +link('menus', 'Menus')
    +link('typography', 'Typography')
    +link('forms', 'Forms')
    +link('tables', 'Tables')
    +link('images', 'Images')
    +link('icons', 'Icons')
    +link('colors', 'Colors')
    +link('effects', 'Effects')
    +link('shapes', 'Shapes')
    +link('events', 'Events')
    +link('mobile', 'Mobile')
    +link('print', 'Print')
    +link('pages', 'Pages')
    +link('utilities', 'Utilities')
    +link('variables', 'Variables')

block append foot
  if prism
    script(src='#{appIcons}/editor.js')
