
extends modules

block variables
  - var pageID = 'css/navigation'
  - var pageTitle = 'Navigation'
  - var prism = true

block article
  h3.ui-header-primary Navigation
  section
    h4.ui-header-secondary
      span Navs
      label.ui-float-right(for='navs-src')
        i(data-schema-icon='code')
    p.
      Navs available in UI Schema have shared markup as well as shared states. Swap modifier classes to switch between each style.
    .ui-container-grid
      .ui-fluid-40.ui-phone-expand.ui-float-left
        ul.ui-nav-tabs
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
      .ui-fluid-50.ui-phone-expand.ui-float-right
        ul.ui-nav-tabs.ui-nav-justified
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
    .ui-container-grid
      .ui-fluid-40.ui-phone-expand.ui-float-left
        ul.ui-nav-pills
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
      .ui-fluid-50.ui-phone-expand.ui-float-right
        ul.ui-nav-pills.ui-nav-justified
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
    .ui-container-grid
      .ui-fluid-40.ui-phone-expand.ui-float-left
        ul.ui-nav-stacked
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
        ul.ui-fluid-60.ui-float-right.ui-nav-stacked.ui-rows-seperated
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
      .ui-fluid-50.ui-phone-expand.ui-float-right
        ul.ui-nav-stacked.ui-nav-justified
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
        ul.ui-nav-stacked.ui-nav-justified.ui-columns-seperated
          li.ui-state-active: a(href='http://arxitics.com/') Home
          li: a(href='http://arxitics.com/browse') Browse
          li: a(href='http://arxitics.com/explore') Explore
    .ui-toggle-target
      input#navs-src(type='checkbox' checked)
      div
        pre: code.language-markup.
          &lt;!-- Tabs --&gt;
          &lt;ul class="ui-nav-tabs"&gt;
            &lt;li class="ui-state-active"&gt;&lt;a href="http://arxitics.com/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

          &lt;!-- Justified tabs --&gt;
          &lt;ul class="ui-nav-tabs ui-nav-justified"&gt;
            &lt;li class="ui-state-active"&gt;&lt;a href="http://arxitics.com/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

          &lt;!-- Pills --&gt;
          &lt;ul class="ui-nav-pills"&gt;
            &lt;li class="ui-state-active"&gt;&lt;a href="http://arxitics.com/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

          &lt;!-- Justified pills --&gt;
          &lt;ul class="ui-nav-pills ui-nav-justified"&gt;
            &lt;li class="ui-state-active"&gt;&lt;a href="http://arxitics.com/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

          &lt;!-- Stacked pills --&gt;
          &lt;ul class="ui-nav-stacked"&gt;
            &lt;li class="ui-state-active"&gt;&lt;a href="http://arxitics.com/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

  section
    h4.ui-header-secondary
      span Navbar
      label.ui-float-right(for='navbar-src')
        i(data-schema-icon='code')
    header.ui-header-navbar.ui-container-fluid.ui-container-grid
      .ui-header-brand
        h2: a(href='http://arxitics.com/') Arxitics
      nav.ui-fluid-33.ui-mobile-auto
        ul
          li: a(href='http://arxitics.com/browse') Browse
          li.ui-menu-dropdown
            a(aria-haspopup='true') Explore 
              span.ui-caret-down
            ul.ui-seamless-top(role='menu')
              li: a(href='http://arxitics.com/articles') Collaborative Filtering
              li: a(href='http://arxitics.com/search') Advanced Search
              li: a(href='http://arxitics.com/articles/random') Random Article
              li: a(href='http://arxitics.com/visual') Data Visualization
      .ui-header-account.ui-float-right
        a.ui-text-button.ui-button-primary(href='http://arxitics.com/auth/login') Sign in
      form.ui-fluid-33.ui-mobile-expand.ui-phone-hidden(action='http://arxitics.com/search' method='get' role='search')
        .ui-input-addon
          input(type='search' name='q' placeholder='Search or type a command')
          button(type='submit')
            i(data-schema-icon='search') Go!
    .ui-toggle-target
      input#navbar-src(type='checkbox')
      div
        pre: code.language-markup.
          &lt;header class="ui-header-navbar ui-container-fluid ui-container-grid"&gt;
            &lt;div class="ui-header-brand"&gt;
              &lt;h2&gt;&lt;a href="http://arxitics.com/"&gt;Arxitics&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;nav class="ui-fluid-33 ui-mobile-auto"&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a href="http://arxitics.com/browse"&gt;Browse&lt;/a&gt;&lt;/li&gt;
                &lt;li class="ui-menu-dropdown"&gt;
                  &lt;a aria-haspopup="true"&gt;Explore &lt;span class="ui-caret-down"&gt;&lt;/span&gt;&lt;/a&gt;
                  &lt;ul class="ui-seamless-top" role="menu"&gt;
                    &lt;li&gt;&lt;a href="http://arxitics.com/articles"&gt;Collaborative Filtering&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://arxitics.com/search"&gt;Advanced Search&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://arxitics.com/search"&gt;Random Article&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://arxitics.com/visual"&gt;Data Visualization&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/nav&gt;
            &lt;div class="ui-header-account ui-float-right"&gt;
              &lt;a class="ui-text-button ui-button-primary" href="http://arxitics.com/auth/login"&gt;Sign in&lt;/a&gt;
            &lt;/div&gt;
            &lt;form class="ui-fluid-33 ui-mobile-expand ui-phone-hidden" action="http://arxitics.com/search" method="get" role="search"&gt;
              &lt;div class="ui-input-addon"&gt;
                &lt;input type="search" name="q" placeholder="Search or type a command"&gt;
                &lt;button type="submit"&gt;&lt;i data-schema-icon="search"&gt;Go!&lt;/i&gt;&lt;/button&gt;
              &lt;/div&gt;
            &lt;/form&gt;
          &lt;/header&gt;

  section
    h4.ui-header-secondary
      span Breadcrumbs
      label.ui-float-right(for='breadcrumbs-src')
        i(data-schema-icon='code')
    ol.ui-nav-breadcrumb
      li: a(href='http://arxitics.com/') Arxitics
      li: a(href='http://arxitics.com/explore') Explore
      li Data Visualization
    ol.ui-nav-breadcrumb.ui-seperator-raquo
      li: a(href='http://arxitics.com/') Arxitics
      li: a(href='http://arxitics.com/explore') Explore
      li.ui-text-muted Data Visualization
    .ui-toggle-target
      input#breadcrumbs-src(type='checkbox')
      div
        pre: code.language-markup.
          &lt;ol class="ui-nav-breadcrumb"&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/"&gt;Arxitics&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/explore"&gt;Explore&lt;/a&gt;&lt;/li&gt;
            &lt;li class="ui-state-active"&gt;Data Visualization&lt;/li&gt;
          &lt;/ol&gt;

  section
    h4.ui-header-secondary
      span Pagination
      label.ui-float-right(for='pagination-src')
        i(data-schema-icon='code')
    .ui-container-grid
      .ui-fluid-40.ui-phone-expand.ui-float-left
        ol.ui-nav-pagination
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=2' title='Previous page') &laquo;
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=1') 1
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=2') 2
          li.ui-state-active: span 3
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=4') 4
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=5') 5
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=4' title='Next page') &raquo;
      .ui-fluid-50.ui-phone-expand.ui-float-right
        ol.ui-nav-pagination.ui-space-trim(data-schema-trim)
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=2' title='Previous page') &laquo;
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=1') 1
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=2') 2
          li.ui-state-active: span(title='Current page') 3
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=4') 4
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=5') 5
          li: a(href='http://arxitics.com/search?category=atom-ph&perpage=25&page=4' title='Next page') &raquo;
    .ui-toggle-target
      input#pagination-src(type='checkbox')
      div
        pre: code.language-markup.
          &lt;ol class="ui-nav-pagination"&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=2" title="Previous page"&gt;&amp;laquo;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=1"&gt;1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=2"&gt;2&lt;/a&gt;&lt;/li&gt;
            &lt;li class="ui-state-active"&gt;&lt;span title="Current page"&gt;3&lt;/span&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=4"&gt;4&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=5"&gt;5&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="http://arxitics.com/search?category=atom-ph&amp;amp;perpage=25&amp;amp;page=4" title="Next page"&gt;&amp;raquo;&lt;/a&gt;&lt;/li&gt;
          &lt;/ol&gt;

block append foot
  script(src='#{appIcons}/forms.js')
