
extends modules

block variables
  - var pageID = 'css/pages'
  - var pageTitle = 'Pages'

block article
  h3.ui-header-primary Pages
  section
    h4.ui-header-secondary Page sizes
    p We define the following page sizes with fixed width and height:
    .ui-container-responsive
      table.ui-table-fluid.ui-table-striped
        thead.ui-text-center
          tr
            th Page
            th #[code .ui-a4-paper]
            th #[code .ui-a5-paper]
            th #[code .ui-b5-paper]
            th #[code .ui-letter-paper]
        tbody.ui-text-center
          tr
            td Size (mm x mm)
            td 210 x 297
            td 148 x 210
            td 176 x 250
            td 215.9 x 279.4
