extends ../layout

block variables
  - var pageID = 'css/shapes'
  - var pageTitle = 'Shapes'

block aside
  include modules

block article
  h3.ui-header-primary Shapes
  .ui-container-grid
    .ui-grid-20
      .ui-shape-wrapper.ui-shape-hexagon
        .ui-shape-container
          img(height='100' src='https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg' alt='Cartoon Hillside with Butterfly and Flowers')
          .ui-image-reveal
            h4.ui-header-compact Butterfly
            p Uploaded by StudioFibonacci
  pre: code.language-markup.
    &lt;div class="ui-grid-20"&gt;
      &lt;div class="ui-shape-wrapper ui-shape-hexagon"&gt;
        &lt;div class="ui-shape-container"&gt;
          &lt;img height="100" src="https://openclipart.org/download/22265/StudioFibonacci-Cartoon-Hillside-with-Butterfly-and-Flowers.svg" alt="Cartoon Hillside with Butterfly and Flowers"&gt;
          &lt;div class="ui-image-reveal"&gt;
            &lt;h4 class="ui-header-compact"&gt;Butterfly&lt;/h4&gt;
            &lt;p&gt;Uploaded by StudioFibonacci&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
