extends ../layout

block variables
  - var pageID = 'css/shapes'
  - var pageTitle = 'Shapes'

block aside
  include modules

block article
  h3.ui-header-primary Shapes
  section
    h4.ui-header-secondary Tooltips
    .ui-container-grid
      .ui-grid-25
        .ui-tooltip-top Tooltip on top
      .ui-grid-25
        .ui-tooltip-right Tooltip on right
      .ui-grid-25
        .ui-tooltip-bottom Tooltip on bottom
      .ui-grid-25
        .ui-tooltip-left Tooltip on left
    .ui-container-grid.ui-skip-large
      .ui-grid-50
        .ui-tooltip-top
          .ui-tooltip-header
            h4 Links
          .ui-tooltip-body
            ul.ui-list-group
              li: a(href='http://arxiv.org/abs/1212.5605') Abstract on arXiv.org
              li: a(href='http://arxiv.org/pdf/1212.5605') View preprint PDF
              li: a(href='http://arxiv.org/e-print/1212.5605') Download TeX source
      .ui-grid-50
        .ui-tooltip-top
          .ui-tooltip-header
            h4 Basic Information
          .ui-tooltip-body
            table.ui-table-fluid.ui-table-columns-2
              tr
                td Name
                td Zan Pan
              tr
                td Location
                td Beijing, China
              tr
                td Website
                td: a(href='http://github.com/photino' rel='external' target='_blank') http://github.com/photino
    pre: code.language-markup.
      &lt;div class="ui-grid-50"&gt;
        &lt;div class="ui-tooltip-top"&gt;
          &lt;div class="ui-tooltip-header"&gt;
            &lt;h4&gt;Basic Information&lt;/h4&gt;
          &lt;/div&gt;
          &lt;div class="ui-tooltip-body"&gt;
            &lt;table class="ui-table-fluid ui-table-columns-2"&gt;
              &lt;tr&gt;
                &lt;td&gt;Name&lt;/td&gt;
                &lt;td&gt;Zan Pan&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Location&lt;/td&gt;
                &lt;td&gt;Beijing, China&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Website&lt;/td&gt;
                &lt;td&gt;&lt;a href="http://github.com/photino" rel="external" target="_blank"&gt;http://github.com/photino&lt;/a&gt;&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/table&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
