extends layout

block variables
  - var pageID = 'download'
  - var pageTitle = 'Download'

block aside
  include links

block article
  h3.ui-header-primary Download
  ul
    li: a(href='https://github.com/arxitics/ui-schema/archive/master.zip') Latest development version from GitHub
    li: a(href='http://oss.arxitics.com/ui-schema/releases/ui-schema-#{version}.zip') UI Schema production version #{version}
