
extends links

block variables
  - var pageID = 'index'

block article
  h3.ui-header-primary Overview
  p.
    UI Schema is a cutting edge, lightweight, and powerful front-end framework for faster and easier web development.
  ul
    li Firefox 24+
    li Chrome 28+
    li Opera 15+
    li Safari 6+
    li IE 10+
  p.
    It is distributed under the #[a(href='https://github.com/arxitics/ui-schema/blob/master/LICENSE' rel='external' target='_blank') MIT] license, and the documentation under a #[a(href='http://creativecommons.org/licenses/by-sa/4.0' rel='external' target='_blank') CC BY-SA 4.0] license.
