extends layout

block variables
  - var pageID = 'javascript'
  - var pageTitle = 'JavaScript Components'

block aside
  include javascript/components

block article
  h3.ui-header-primary Overview
  p We use 
    code.ui-color-emphasis schema
    |  as JavaScript namespace and 
    code.ui-color-emphasis data-schema-*
    |  for data attributes.
