
extends layout

mixin link(page, text)
  li(class={'ui-state-active': pageID === page})
    a(href='#{appDocs}/#{page}.html')= text

block aside
  h3.ui-header-primary Links
  ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
    +link('download', 'Download')
    +link('structure', 'Directory Structure')
    +link('template', 'Basic Template')
    +link('notes', 'Release Notes')
