
extends links

block variables
  - var pageID = 'notes'
  - var pageTitle = 'Release Notes'

block article
  h3.ui-header-primary Release Notes
  ul
    li 
      strong 2016-05-27
      | : Version 0.4.0; Pages; Utilities.
    li 
      strong 2015-05-16
      | : Version 0.3.0; Icons; Effects; Shapes.
    li
      strong 2014-11-14
      | : Version 0.2.0; Grids; Menus; Typography; Forms.
    li
      strong 2014-07-31
      | : Version 0.1.0; Modular CSS; JS namespace; Data API.
