extends layout

block variables
  - var pageID = 'notes'
  - var pageTitle = 'Release Notes'
  
block aside
  include links

block article
  h3.ui-header-primary Release Notes
  ul
    li 
      strong 2014-07-31
      | : Released v0.1.0
