
extends links

block variables
  - var pageID = 'structure'
  - var pageTitle = 'Directory Structure'

block article
  h3.ui-header-primary Directory Structure
  p Once downloaded, unzip the compressed folder to see the structure of UI Schema:
  pre: code.
    ui-schema/
    ├── css/
    │   ├── base.css
    │   ├── colors.css
    │   ├── core.css
    │   ├── effects.css
    │   ├── events.css
    │   ├── forms.css
    │   ├── grid.css
    │   ├── icons.css
    │   ├── images.css
    │   ├── import.css
    │   ├── menus.css
    │   ├── mobile.css
    │   ├── navigation.css
    │   ├── pages.css
    │   ├── print.css
    │   ├── shapes.css
    │   ├── tables.css
    │   ├── typography.css
    │   ├── utilities.css
    │   └── variables.css
    ├── dist/
    │   ├── icons/
    │   │   ├── account.js
    │   │   ├── arrows.js
    │   │   ├── brands.js
    │   │   ├── culture.js
    │   │   ├── devices.js
    │   │   ├── editor.js
    │   │   ├── emoji.js
    │   │   ├── files.js
    │   │   ├── finance.js
    │   │   ├── forms.js
    │   │   ├── games.js
    │   │   ├── healthcare.js
    │   │   ├── licenses.js
    │   │   ├── nature.js
    │   │   ├── software.js
    │   │   ├── transportation.js
    │   │   ├── video.js
    │   │   └── weather.js
    │   ├── jquery-3.0.0.min.js
    │   ├── prism-1.4.1.min.css
    │   ├── prism-1.4.1.min.js
    │   ├── ui-schema-0.4.2.css
    │   ├── ui-schema-0.4.2.js
    │   ├── ui-schema-0.4.2.min.css
    │   └── ui-schema-0.4.2.min.js
    ├── docs/
    │   ├── html/
    │   │   ├── css/
    │   │   │   ├── base.html
    │   │   │   ├── colors.html
    │   │   │   ├── core.html
    │   │   │   ├── effects.html
    │   │   │   ├── events.html
    │   │   │   ├── forms.html
    │   │   │   ├── grid.html
    │   │   │   ├── icons.html
    │   │   │   ├── images.html
    │   │   │   ├── menus.html
    │   │   │   ├── mobile.html
    │   │   │   ├── navigation.html
    │   │   │   ├── pages.html
    │   │   │   ├── print.html
    │   │   │   ├── shapes.html
    │   │   │   ├── tables.html
    │   │   │   ├── typography.html
    │   │   │   ├── utilities.html
    │   │   │   └── variables.html
    │   │   ├── examples/
    │   │   │   ├── login.html
    │   │   │   ├── resume.html
    │   │   │   └── slides.html
    │   │   ├── javascript/
    │   │   │   ├── core.html
    │   │   │   ├── forms.html
    │   │   │   ├── icons.html
    │   │   │   ├── setup.html
    │   │   │   └── utilities.html
    │   │   ├── css.html
    │   │   ├── download.html
    │   │   ├── examples.html
    │   │   ├── index.html
    │   │   ├── javascript.html
    │   │   ├── notes.html
    │   │   ├── structure.html
    │   │   └── template.html
    │   ├── jade/
    │   │   ├── css/
    │   │   │   ├── base.jade
    │   │   │   ├── colors.jade
    │   │   │   ├── core.jade
    │   │   │   ├── effects.jade
    │   │   │   ├── events.jade
    │   │   │   ├── forms.jade
    │   │   │   ├── grid.jade
    │   │   │   ├── icons.jade
    │   │   │   ├── images.jade
    │   │   │   ├── menus.jade
    │   │   │   ├── mobile.jade
    │   │   │   ├── modules.jade
    │   │   │   ├── navigation.jade
    │   │   │   ├── pages.jade
    │   │   │   ├── print.jade
    │   │   │   ├── shapes.jade
    │   │   │   ├── tables.jade
    │   │   │   ├── typography.jade
    │   │   │   ├── utilities.jade
    │   │   │   └── variables.jade
    │   │   ├── examples/
    │   │   │   ├── contents.jade
    │   │   │   ├── login.jade
    │   │   │   ├── resume.jade
    │   │   │   └── slides.jade
    │   │   ├── javascript/
    │   │   │   ├── components.jade
    │   │   │   ├── core.jade
    │   │   │   ├── forms.jade
    │   │   │   ├── icons.jade
    │   │   │   ├── setup.jade
    │   │   │   └── utilities.jade
    │   │   ├── css.jade
    │   │   ├── download.jade
    │   │   ├── examples.jade
    │   │   ├── index.jade
    │   │   ├── javascript.jade
    │   │   ├── notes.jade
    │   │   ├── structure.jade
    │   │   └── template.jade
    │   └── build.sh
    ├── js/
    │   ├── core.js
    │   ├── forms.js
    │   ├── icons.js
    │   ├── setup.js
    │   └── utilities.js
    ├── .gitignore
    ├── build.sh
    ├── gulpfile.js
    ├── LICENSE
    ├── package.json
    └── README.md
