
extends ../layout

mixin link(page, text)
  li: a(href='#{appDocs}/examples/#{page}.html' target='_blank')= text

block aside
  h3.ui-header-primary Contents
  ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
    +link('login', 'Login')
    +link('resume', 'Resume')
    +link('slides', 'Slides')
    +link('full-pages', 'Full Pages')
