
extends ../layout

mixin link(page, text)
  li(class={'ui-state-active': pageID === ('examples/' + page)})
    a(href='#{appDocs}/examples/#{page}.html')= text

block aside
  h3.ui-header-primary Contents
  ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
    +link('login', 'Login')
