
h3.ui-header-primary Contents
.ui-content-panel
  .ui-panel-body
    mixin link(page, text)
      a(class=(pageID === ('examples/' + page) ? 'ui-state-active': '')
        href='#{appStorage}/docs/html/examples/#{page}.html')= text
    .ui-list-group.ui-zoom-large
      +link('login', 'Login')
