
extends ../layout

block variables
  - var pageID = 'examples/resume'
  - var pageTitle = 'Resume'
  - var minimal = true

block append head
  style.
    html {
      background-color: #e0e0e0;
      font-size: 8pt;
    }
    body {
      margin: 10px 0;
    }
block body
  .ui-a4-paper.ui-page-wrapper.ui-block-center
    .ui-container-grid(role='banner')
      .ui-float-left
        .ui-zoom-2x Arxitics
        .ui-zoom-huge.ui-color-success Dedicated to Science on the Web
      .ui-float-right
       ul.ui-list-unstyled
         li
           i(data-schema-icon='envelope')
           |  
           a(href='mailto:help@arxitics.com')
             code help@arxitics.com
         li
           i(data-schema-icon='github')
           |  
           a(href='https://github.com/arxitics' target='_blank')
             code https://github.com/arxitics
         li
           i(data-schema-icon='twitter' data-schema-color-enabled='false')
           |  
           a(href='https://twitter.com/arxitics' target='_blank')
             code https://twitter.com/arxitics
    .ui-skip-large(role='main')
      div
        .ui-zoom-large.ui-header-primary
          i(data-schema-icon='cog')
          |  Projects
        dl.ui-list-horizontal
          dt 2014.01 &ndash; 2016.06
          dd
            a(href='https://github.com/arxitics/arxiv-analytics' target='_blank')
              strong arXiv Analytics
            |  (Community website)
            p.
              ArXiv Analytics is a web portal that offers more features and a better user interface for reading and discussing arXiv eprints.
          dt 2014.05 &ndash; 2016.06
          dd
            a(href='https://github.com/arxitics/ui-schema' target='_blank')
              strong UI Schema
            |  (Front-end framework)
            p.
              UI Schema is a cutting edge, lightweight, and powerful front-end framework for faster and easier web development.
      .ui-skip-large
        .ui-zoom-large.ui-header-primary
          i(data-schema-icon='link')
          |  Links
        ul
          li
            a(href='https://github.com/arxitics/arxiv-analytics' target='_blank') arXiv Analytics
            | : Specified web portal for reading and discussing arXiv eprints
          li
            a(href='https://github.com/arxitics/ui-schema' target='_blank') UI Schema
            | : Cutting edge, lightweight, and powerful front-end framework
          li
            a(href='https://github.com/arxitics/schema' target='_blank') Schema
            | : Computer algebra system written in pure JavaScript
          li
            a(href='https://github.com/arxitics/user-guide' target='_blank') User Guide for arXiv Analytics
            | : User guide for arXiv Analytics
          li
            a(href='https://github.com/arxitics/famous-papers-on-arxiv' target='_blank') Famous Paper on arXiv
            | : Collections of famous papers on arXiv 

block append foot
  script(src='#{appIcons}/account.js')
  script(src='#{appIcons}/brands.js')
  script(src='#{appIcons}/devices.js')
  script(src='#{appIcons}/editor.js')
