
extends css/modules

block variables
  - var pageID = 'css'
  - var pageTitle = 'CSS Modules'

block article
  h3.ui-header-primary Overview
  p.
    To avoid name collision, all classes defined in UI Schema start with the prefix #[code.ui-color-emphasis ui-]. They are divided into modules for the ease of maintenance and optimization. Unlike #[a(href='http://getbootstrap.com/' rel='external' target='_blank') Bootstrap], UI Schema is not declared to be mobile first. We have observed the fact that screen resolutions keep on growing both for smartphones and laptops.
    
