
extends links

block variables
  - var pageID = 'notes'
  - var pageTitle = 'Release Notes'

block article
  h3.ui-header-primary Release Notes
  ol.ui-list-timeline
    li
      .ui-text-success: time 2016-05-27
      div #[strong Version 0.4.0]: Pages; Utilities.
    li
      .ui-text-info: time 2015-05-16
      div #[strong Version 0.3.0]: Icons; Effects; Shapes.
    li
      .ui-text-warning: time 2014-11-14
      div #[strong Version 0.2.0]: Grids; Menus; Typography; Forms.
    li
      .ui-text-danger: time 2014-07-31
      div #[strong Version 0.1.0]: Modular CSS; JS namespace; Data API.
