
extends links

block variables
  - var pageID = 'structure'
  - var pageTitle = 'Directory Structure'

block article
  h3.ui-header-primary Directory Structure
  p Once downloaded, unzip the compressed folder to see the structure of UI Schema:
  pre: code.
    ui-schema/
    ├── css/
    │   ├── base.css
    │   ├── colors.css
    │   ├── core.css
    │   ├── effects.css
    │   ├── events.css
    │   ├── forms.css
    │   ├── grid.css
    │   ├── icons.css
    │   ├── images.css
    │   ├── import.css
    │   ├── menus.css
    │   ├── mobile.css
    │   ├── navigation.css
    │   ├── pages.css
    │   ├── print.css
    │   ├── shapes.css
    │   ├── tables.css
    │   ├── themes.css
    │   ├── typography.css
    │   ├── utilities.css
    │   └── variables.css
    ├── dist/
    │   ├── icons/
    │   │   ├── account.js
    │   │   ├── arrows.js
    │   │   ├── brands.js
    │   │   ├── culture.js
    │   │   ├── devices.js
    │   │   ├── editor.js
    │   │   ├── emoji.js
    │   │   ├── files.js
    │   │   ├── finance.js
    │   │   ├── forms.js
    │   │   ├── games.js
    │   │   ├── healthcare.js
    │   │   ├── licenses.js
    │   │   ├── nature.js
    │   │   ├── software.js
    │   │   ├── transportation.js
    │   │   ├── video.js
    │   │   └── weather.js
    │   ├── jquery-3.2.1.min.js
    │   ├── prism-1.4.1.min.css
    │   ├── prism-1.4.1.min.js
    │   ├── ui-schema-0.4.5.css
    │   ├── ui-schema-0.4.5.js
    │   ├── ui-schema-0.4.5.min.css
    │   └── ui-schema-0.4.5.min.js
    ├── docs/
    │   ├── html/
    │   │   ├── css/
    │   │   │   ├── base.html
    │   │   │   ├── colors.html
    │   │   │   ├── core.html
    │   │   │   ├── effects.html
    │   │   │   ├── events.html
    │   │   │   ├── forms.html
    │   │   │   ├── grid.html
    │   │   │   ├── icons.html
    │   │   │   ├── images.html
    │   │   │   ├── menus.html
    │   │   │   ├── mobile.html
    │   │   │   ├── navigation.html
    │   │   │   ├── pages.html
    │   │   │   ├── print.html
    │   │   │   ├── shapes.html
    │   │   │   ├── tables.html
    │   │   │   ├── themes.html
    │   │   │   ├── typography.html
    │   │   │   ├── utilities.html
    │   │   │   └── variables.html
    │   │   ├── examples/
    │   │   │   ├── full-pages.html
    │   │   │   ├── login.html
    │   │   │   ├── resume.html
    │   │   │   ├── slides.html
    │   │   │   └── todos.html
    │   │   ├── javascript/
    │   │   │   ├── core.html
    │   │   │   ├── forms.html
    │   │   │   ├── icons.html
    │   │   │   ├── images.html
    │   │   │   ├── setup.html
    │   │   │   └── utilities.html
    │   │   ├── css.html
    │   │   ├── download.html
    │   │   ├── examples.html
    │   │   ├── index.html
    │   │   ├── javascript.html
    │   │   ├── notes.html
    │   │   ├── structure.html
    │   │   └── template.html
    │   └── pug/
    │       ├── css/
    │       │   ├── base.pug
    │       │   ├── colors.pug
    │       │   ├── core.pug
    │       │   ├── effects.pug
    │       │   ├── events.pug
    │       │   ├── forms.pug
    │       │   ├── grid.pug
    │       │   ├── icons.pug
    │       │   ├── images.pug
    │       │   ├── menus.pug
    │       │   ├── mobile.pug
    │       │   ├── modules.pug
    │       │   ├── navigation.pug
    │       │   ├── pages.pug
    │       │   ├── print.pug
    │       │   ├── shapes.pug
    │       │   ├── tables.pug
    │       │   ├── themes.pug
    │       │   ├── typography.pug
    │       │   ├── utilities.pug
    │       │   └── variables.pug
    │       ├── examples/
    │       │   ├── contents.pug
    │       │   ├── full-pages.pug
    │       │   ├── login.pug
    │       │   ├── resume.pug
    │       │   ├── slides.pug
    │       │   └── todos.pug
    │       ├── javascript/
    │       │   ├── components.pug
    │       │   ├── core.pug
    │       │   ├── forms.pug
    │       │   ├── icons.pug
    │       │   ├── images.pug
    │       │   ├── setup.pug
    │       │   └── utilities.pug
    │       ├── css.pug
    │       ├── download.pug
    │       ├── examples.pug
    │       ├── index.pug
    │       ├── javascript.pug
    │       ├── notes.pug
    │       ├── structure.pug
    │       └── template.pug
    ├── js/
    │   ├── core.js
    │   ├── forms.js
    │   ├── icons.js
    │   ├── images.js
    │   ├── setup.js
    │   └── utilities.js
    ├── .gitignore
    ├── gulpfile.js
    ├── LICENSE
    ├── package.json
    ├── package-lock.json
    └── README.md
