
h3.ui-header-primary Components
.ui-content-panel
  .ui-panel-body
    mixin link(page, text)
      a(class=(pageID === ('javascript/' + page) ? 'ui-state-active': '')
        href='#{appStorage}/docs/html/javascript/#{page}.html')= text
    .ui-list-group.ui-zoom-large
      +link('setup', 'Setup')
      +link('core', 'Core')
      +link('forms', 'Forms')
      +link('icons', 'Icons')
      +link('utilities', 'Utilities')
