
extends components

block variables
  - var pageID = 'javascript/core'
  - var pageTitle = 'Core'
  - var prism = true

block article
  h3.ui-header-primary Core
  .ui-container-grid
    pre: code.language-javascript.
      // Create a new schema object
      schema.create = (options) =&gt; Object.create(schema);

      // Bind and trigger schema events
      schema.load = (options) =&gt; {
        for (var key in events) {
          schema.delegate(events[key], options);
        }
      };

      // Assign an integer as the delegation of an event
      schema.delegate = (event, options) =&gt; {
        var type = event.type;
        var name = type + event.namespace;
        var delegation = event.delegation;
        if (delegation &gt; 1) {
          var handler = schema[type] || function () {};
          $(document).on(name, handler);
          if (delegation &gt; 2) {
            $(document).trigger(name, event.options);
          }
        }
      };
