
extends components

block variables
  - var pageID = 'javascript/forms'
  - var pageTitle = 'Forms'
  - var prism = true

block article
  h3.ui-header-primary Forms
  .ui-container-grid
    pre: code.language-markup.
      &lt;!-- Validate the form and do not submit empty fields --&gt;
      &lt;form action="/search" method="post" data-schema-validate&gt;

      &lt;!-- Only submit the form when some fields have been changed --&gt;
      &lt;form action="/articles/1212.5605/edit" method="post" data-schema-validate="changed"&gt;

      &lt;!-- Only allow to submit the form once --&gt;
      &lt;form action="/auth/login" method="post" data-schema-validate="once"&gt;
