
extends components

block variables
  - var pageID = 'javascript/images'
  - var pageTitle = 'Images'
  - var prism = true

block article
  h3.ui-header-primary Images
  section
    h4.ui-header-secondary Magnifier
    div
      figure.ui-image-magnifier
        img(width='300' height='300' src='http://oss.arxitics.com/images/emoji/camping.svg' alt='camping' data-schema-magnify)
        div(data-schema-shape='square(100)')
        .ui-offset-medium
          img(width='900' height='900' src='http://oss.arxitics.com/images/emoji/camping.svg' alt='camping')
    pre: code.language-markup.
      &lt;figure class="ui-image-magnifier"&gt;
        &lt;img width="300" height="300" src="http://oss.arxitics.com/images/emoji/camping.svg" alt="camping" data-schema-magnify&gt;
        &lt;div data-schema-shape="square(100)"&gt;&lt;/div&gt;
        &lt;div class="ui-offset-medium"&gt;
          &lt;img width="900" height="900" src="http://oss.arxitics.com/images/emoji/camping.svg" alt="camping"&gt;
        &lt;/div&gt;
      &lt;/figure&gt;

  section
    h4.ui-header-secondary Lazy Loading
    div
      figure
        img.ui-image-thumbnail(width='600' height='600' src='http://oss.arxitics.com/images/emoji/camping.svg' alt='camping')
      figure.ui-skip-medium
        img.ui-image-thumbnail(width='600' height='600' src='http://oss.arxitics.com/images/emoji/white-circle.svg' alt='park' data-schema-lazyload data-schema-src='http://oss.arxitics.com/images/emoji/park.svg')
      figure.ui-skip-medium
        img.ui-image-thumbnail(width='600' height='600' src='http://oss.arxitics.com/images/emoji/white-circle.svg' alt='beach' data-schema-lazyload='200' data-schema-delay='2000' data-schema-src='http://oss.arxitics.com/images/emoji/beach.svg')
      figure.ui-skip-medium
        img.ui-image-thumbnail(width='600' height='600' src='http://oss.arxitics.com/images/emoji/white-circle.svg' alt='island' data-schema-lazyload='200' data-schema-delay='2000' data-schema-src='http://oss.arxitics.com/images/emoji/island.svg')
      figure.ui-skip-medium
        img.ui-image-thumbnail(width='600' height='600' src='http://oss.arxitics.com/images/emoji/white-circle.svg' alt='desert' data-schema-lazyload='200' data-schema-delay='2000'  data-schema-src='http://oss.arxitics.com/images/emoji/desert.svg')
    pre: code.language-markup.
      &lt;img width="600" height="600" src="http://oss.arxitics.com/images/emoji/white-circle.svg" alt="desert" data-schema-lazyload="200" data-schema-delay="2000" data-schema-src="http://oss.arxitics.com/images/emoji/desert.svg"&gt;
