
extends modules

block variables
  - var pageID = 'css/core'
  - var pageTitle = 'Core Styles'

block article
  h3.ui-header-primary Core Styles
  section
    h4.ui-header-secondary Font Sizing
    p We use the following media queries to set the value of rem unit:
    .ui-container-responsive
      table.ui-table-fluid.ui-table-striped
        thead.ui-text-center
          tr
            th min-width
            th N/A
            th 768px
            th 992px
            th 1248px
            th 1334px
            th 1408px
            th 1568px
            th 1888px
            th 2016px
        tbody.ui-text-center
          tr
            td rem unit
            td 16px
            td 18px
            td 20px
            td 22px
            td 24px
            td 26px
            td 28px
            td 30px
            td 32px
  p Then all font sizes are specified with rems and ems. For headings, we have
  .ui-container-responsive
    table.ui-table-fluid.ui-table-striped
      thead.ui-text-center
        tr
          th Heading
          th h1
          th h2
          th h3
          th h4
          th h5
          th h6
      tbody.ui-text-center
        tr
          td font-size
          td 1.8rem
          td 1.5rem
          td 1.2rem
          td 0.9rem
          td 0.7rem
          td 0.6rem
