
extends modules

block variables
  - var pageID = 'css/grid'
  - var pageTitle = 'Grid System'
  - var prism = true

block article
  h3.ui-header-primary
    span Grid System
    label.ui-float-right(for='grid-system-src')
      i.ui-zoom-small(data-schema-icon='code' data-schema-animation='slow')
  .ui-text-center
    .ui-container-grid.ui-frame-box.ui-columns-seperated
      .ui-grid-50: code 1/2
      .ui-grid-50: code 1/2
    .ui-container-grid.ui-frame-box.ui-columns-seperated.ui-skip-small
      .ui-grid-33: code 1/3
      .ui-grid-67.ui-grid-collapse.ui-columns-seperated
        .ui-grid-33: code 2/9
        .ui-grid-67: code 4/9
    .ui-container-grid.ui-frame-box.ui-columns-seperated.ui-skip-small
      .ui-grid-25: code 1/4
      .ui-grid-75.ui-grid-collapse.ui-columns-seperated
        .ui-grid-25: code 3/16
        .ui-grid-75: code 9/16
    .ui-container-grid.ui-skip-small
      .ui-grid-20.ui-frame-box: code 1/5
      .ui-grid-20.ui-offset-10.ui-frame-box: code 1/5
      .ui-grid-30.ui-offset-20.ui-frame-box: code 3/10
  .ui-toggle-target.ui-skip-large
    input#grid-system-src(type='checkbox' checked)
    div
      pre: code.language-markup.
        &lt;div class="ui-container-grid"&gt;
          &lt;div class="ui-grid-50"&gt;1/2&lt;/div&gt;
          &lt;div class="ui-grid-50"&gt;1/2&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ui-container-grid"&gt;
          &lt;div class="ui-grid-33"&gt;1/3&lt;/div&gt;
          &lt;div class="ui-grid-67 ui-grid-collapse"&gt;
            &lt;div class="ui-grid-33"&gt;2/9&lt;/div&gt;
            &lt;div class="ui-grid-67"&gt;4/9&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ui-container-grid"&gt;
          &lt;div class="ui-grid-25"&gt;1/4&lt;/div&gt;
          &lt;div class="ui-grid-75 ui-grid-collapse"&gt;
            &lt;div class="ui-grid-25"&gt;3/16&lt;/div&gt;
            &lt;div class="ui-grid-75"&gt;9/16&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ui-container-grid"&gt;
          &lt;div class="ui-grid-20"&gt;1/5&lt;/div&gt;
          &lt;div class="ui-grid-20 ui-offset-10"&gt;1/5&lt;/div&gt;
          &lt;div class="ui-grid-30 ui-offset-20"&gt;3/10&lt;/div&gt;
        &lt;/div&gt;
