
extends modules

block variables
  - var pageID = 'css/pages'
  - var pageTitle = 'Pages'

block article
  h3.ui-header-primary Pages
  section
    h4.ui-header-secondary Page sizes
    p We define the following page sizes with fixed width and height:
    .ui-container-responsive
      table.ui-table-fluid.ui-table-striped
        thead.ui-text-center
          tr
            th Dimension
            th #[code .ui-page-a4]
            th #[code .ui-page-a5]
            th #[code .ui-page-b5]
            th #[code .ui-page-letter]
        tbody.ui-text-center
          tr
            td mm x mm
            td 210 x 297
            td 148 x 210
            td 176 x 250
            td 215.9 x 279.4
