
extends modules

block variables
  - var pageID = 'css/shapes'
  - var pageTitle = 'Shapes'
  - var prism = true

block article
  h3.ui-header-primary Shapes
  section
    h4.ui-header-secondary
      span Tooltips
      label.ui-float-right(for='tooltips-src')
        i(data-schema-icon='code')
    .ui-container-grid
      .ui-grid-50
        .ui-tooltip-wrapper
          button Tooltip on top
          span.ui-tooltip-content.ui-tooltip-top A pure CSS tooltip without JavaScript
      .ui-grid-50
        .ui-tooltip-wrapper
          button Tooltip on right
          span.ui-tooltip-content.ui-tooltip-right A pure CSS tooltip without JavaScript
    .ui-container-grid.ui-skip-medium
      .ui-grid-50
        .ui-tooltip-wrapper
          button Tooltip on bottom
          .ui-tooltip-content.ui-tooltip-bottom
            .ui-content-panel
              .ui-panel-body
                ul.ui-list-group
                  li: a(href='http://arxiv.org/abs/1212.5605') Abstract on arXiv.org
                  li: a(href='http://arxiv.org/pdf/1212.5605') View preprint PDF
                  li: a(href='http://arxiv.org/e-print/1212.5605') Download TeX source
      .ui-grid-50
        .ui-tooltip-wrapper
          button Tooltip on left
          .ui-tooltip-content.ui-tooltip-left
            .ui-content-panel
              .ui-panel-body
                table.ui-table-fluid.ui-table-columns-2
                  tr
                    td Name
                    td Zan Pan
                  tr
                    td Location
                    td Beijing, China
                  tr
                    td Website
                    td: a(href='http://github.com/photino' rel='external' target='_blank') http://github.com/photino
    .ui-toggle-target.ui-skip-large
      input#tooltips-src(type='checkbox' checked)
      div
        pre: code.language-markup.
          &lt;div class="ui-tooltip-wrapper"&gt;
            &lt;button&gt;Tooltip on top&lt;/button&gt;
            &lt;span class="ui-tooltip-content ui-tooltip-top"&gt;A pure CSS tooltip without JavaScript&lt;/span&gt;
          &lt;/div&gt;

          &lt;div class="ui-tooltip-wrapper"&gt;
            &lt;button&gt;Tooltip on bottom&lt;/button&gt;
            &lt;div class="ui-tooltip-content ui-tooltip-bottom"&gt;
              &lt;div class="ui-content-panel"&gt;
                &lt;div class="ui-panel-body"&gt;
                  &lt;ul class="ui-list-group"&gt;
                    &lt;li&gt;&lt;a href="http://arxiv.org/abs/1212.5605"&gt;Abstract on arXiv.org&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://arxiv.org/pdf/1212.5605"&gt;View preprint PDF&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://arxiv.org/e-print/1212.5605"&gt;Download TeX source&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
