
extends modules

block variables
  - var pageID = 'css/tables'
  - var pageTitle = 'Tables'
  - var prism = true

block article
  h3.ui-header-primary
    span Tables
    label.ui-float-right(for='tables-src')
      i.ui-zoom-small(data-schema-icon='code' data-schema-animation='slow')
  table.ui-table-fluid.ui-table-striped.ui-table-bordered
    thead.ui-text-center
      tr
        th Field
        th Type
        th Description
    tbody.ui-text-center
      tr
        td id
        td String
        td ArXiv identifer of the form 
          code.ui-color-emphasis yymm.nnnn
          |  or 
          code.ui-color-emphasis arch-ive/yymmnnn
          | .
      tr
        td published
        td ISODate
        td Published date in the form 
          code.ui-color-emphasis yyyy-mm-ddThh:mm:ssZ
          | .
      tr
        td title
        td String
        td Queries for the 
            code.ui-color-emphasis title
            |  field are converted to regular expressions by default.
      tr
        td authors
        td Array::String
        td You should use the exact match for the author name.
  .ui-toggle-target
    input#tables-src(type='checkbox' checked)
    .ui-container-responsive
      button.ui-absolute-right.ui-zoom-small.ui-phone-hidden(data-schema-copy) Copy
      pre: code.language-markup.
        &lt;table class="ui-table-fluid ui-table-striped ui-table-bordered"&gt;
          &lt;thead class="ui-text-center"&gt;
            &lt;tr&gt;
              &lt;th&gt;Field&lt;/th&gt;
              &lt;th&gt;Type&lt;/th&gt;
              &lt;th&gt;Description&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody class="ui-text-center"&gt;
            &lt;tr&gt;
              &lt;td&gt;id&lt;/td&gt;
              &lt;td&gt;String&lt;/td&gt;
              &lt;td&gt;ArXiv identifer of the form &lt;code class="ui-color-emphasis"&gt;yymm.nnnn&lt;/code&gt; or &lt;code class="ui-color-emphasis"&gt;arch-ive/yymmnnn&lt;/code&gt;.&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;published&lt;/td&gt;
              &lt;td&gt;ISODate&lt;/td&gt;
              &lt;td&gt;Published date in the form &lt;code class="ui-color-emphasis"&gt;yyyy-mm-ddThh:mm:ssZ&lt;/code&gt;.&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;title&lt;/td&gt;
              &lt;td&gt;String&lt;/td&gt;
              &lt;td&gt;Queries for the &lt;code class="ui-color-emphasis"&gt;title&lt;/code&gt; field are converted to regular expressions by default.&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;authors&lt;/td&gt;
              &lt;td&gt;Array::String&lt;/td&gt;
              &lt;td&gt;You should use the exact match for the author name.&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
